<style type="text/css">
    .dorian .st0{fill:#995826;}
	.dorian .st1{fill:#DC6812;}
	.dorian .st2{fill:#FB8B1B;}
	.dorian .st3{fill:#FCBD11;}
	.dorian .st4{fill:#D0133D;}
	.dorian .st5{fill:#EE4042;}
	.dorian .st6{fill:#CBEBFC;}
	.dorian .st7{fill:#FFFFFF;}

    .dorian {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dorian svg {
        height: 650px;
    }

    .dorian #head,
    .dorian #eyes,
    .dorian #wing-left,
    .dorian #wing-right {
        transform-box: fill-box;
    }

    .dorian #head {
        animation: infinite 4s ease dc-head;
        transform-origin: 50% 50%;
    }

    .dorian #eyes {
        animation: infinite 2.5s ease dc-eyes;
        transform-origin: 50% 50%;
    }

    .dorian #wing-left {
        animation: infinite 4s ease dc-wing-left;
        transform-origin: top right;
    }

    .dorian #wing-right {
        animation: infinite 4s ease dc-wing-right;
        transform-origin: top left;
    }

    @keyframes dc-head {
        0% { transform: rotate(0); }
        30% { transform: rotate(0); }
        32.5% { transform: rotate(-15deg); }
        45% { transform: rotate(-15deg); }
        55% { transform: rotate(15deg); }
        67.5% { transform: rotate(15deg); }
        70% { transform: rotate(0); }
        100% { transform: rotate(0); }
    }

    @keyframes dc-eyes {
        0% { transform: scale(1, 1); }
        42.5% { transform: scale(1, 1); }
        50% { transform: scale(1, 0); }
        57.5% { transform: scale(1, 1); }
        100% { transform: scale(1, 1); }
    }

    @keyframes dc-wing-left {
        0% { transform: rotate(0); }
        42.5% { transform: rotate(0); }
        45% { transform: rotate(30deg); }
        47.5% { transform: rotate(0); }
        50% { transform: rotate(30deg); }
        52.5% { transform: rotate(0); }
        55% { transform: rotate(30deg); }
        57.5% { transform: rotate(0); }
        100% { transform: rotate(0); }
    }

    @keyframes dc-wing-right {
        0% { transform: rotate(0); }
        42.5% { transform: rotate(0); }
        45% { transform: rotate(-30deg); }
        47.5% { transform: rotate(0); }
        50% { transform: rotate(-30deg); }
        52.5% { transform: rotate(0); }
        55% { transform: rotate(-30deg); }
        57.5% { transform: rotate(0); }
        100% { transform: rotate(0); }
    }
</style>

<div class="dorian">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
        
        <g id="arbre">
            <g>
                <rect x="372.5" y="695" class="st0" width="15" height="50"/>
                <g>
                    <path class="st0" d="M630,560v92c0,21-17,38-38,38h-72V560H630 M645,545h-15H520h-15v15v130v15h15h72c29.2,0,53-23.8,53-53v-92
                        V545L645,545z"/>
                </g>
                <g>
                    <path class="st0" d="M530,145v1c0,40.9-33.1,74-74,74h-46v-45c0-16.6,13.4-30,30-30H530 M540,135h-10h-90c-22.1,0-40,17.9-40,40
                        v45v10h10h46c46.3,0,84-37.7,84-84v-1V135L540,135z"/>
                </g>
                <g>
                    <path class="st0" d="M495,545v190H355c-27.6,0-50-22.4-50-50V545H495 M515,525h-20H305h-20v20v140c0,38.6,31.4,70,70,70h140h20
                        v-20V545V525L515,525z"/>
                </g>
                <g>
                    <path class="st0" d="M495,405v190h-95c-19.3,0-35-15.7-35-35V405H495 M505,395h-10H365h-10v10v155c0,24.8,20.2,45,45,45h95h10
                        v-10V405V395L505,395z"/>
                </g>
                <rect x="402.5" y="231.3" class="st0" width="15" height="70"/>
                <rect x="475" y="500" class="st0" width="50" height="500"/>
            </g>
            <g>
                <rect x="577.5" y="557.5" class="st1" width="110" height="50"/>
                <rect x="240" y="452.5" class="st1" width="350" height="50"/>
                <rect x="415" y="347.5" class="st1" width="175" height="50"/>
            </g>
            <g>
                <path class="st2" d="M683,665H583c-16.6,0-30-13.4-30-30l0,0c0-16.6,13.4-30,30-30h100c16.6,0,30,13.4,30,30l0,0
                    C713,651.6,699.6,665,683,665z"/>
                <path class="st2" d="M395,720h-30c-16.6,0-30-13.4-30-30l0,0c0-16.6,13.4-30,30-30h30c16.6,0,30,13.4,30,30l0,0
                    C425,706.6,411.6,720,395,720z"/>
                <path class="st2" d="M770,560H230c-16.6,0-30-13.4-30-30l0,0c0-16.6,13.4-30,30-30h540c16.6,0,30,13.4,30,30l0,0
                    C800,546.6,786.6,560,770,560z"/>
                <path class="st2" d="M600,455H185c-16.6,0-30-13.4-30-30v0c0-16.6,13.4-30,30-30h415c16.6,0,30,13.4,30,30v0
                    C630,441.6,616.6,455,600,455z"/>
                <path class="st2" d="M666.1,350H398.9c-16,0-28.9-12.9-28.9-28.9v-2.2c0-16,12.9-28.9,28.9-28.9h267.2c16,0,28.9,12.9,28.9,28.9
                    v2.2C695,337.1,682.1,350,666.1,350z"/>
                <path class="st2" d="M550,175h-30c-16.6,0-30-13.4-30-30v0c0-16.6,13.4-30,30-30h30c16.6,0,30,13.4,30,30v0
                    C580,161.6,566.6,175,550,175z"/>
                <path class="st2" d="M465,240H365c-16.6,0-30-13.4-30-30v0c0-16.6,13.4-30,30-30h100c16.6,0,30,13.4,30,30v0
                    C495,226.6,481.6,240,465,240z"/>
            </g>
        </g>
        <g id="chouette">
            <g id="legs">
                <rect id="leg-left" x="577.5" y="465" class="st3" width="15" height="35"/>
                <rect id="leg-right" x="607.5" y="465" class="st3" width="15" height="35"/>
            </g>
            <g id="body">
                <circle class="st4" cx="600" cy="377.5" r="100"/>
                <circle class="st5" cx="600" cy="445" r="32.5"/>
                <circle class="st4" cx="600" cy="317.5" r="75"/>
            </g>
            <g id="wings">
                <path id="wing-left" class="st3" d="M512.5,487.5h-25v-55c0-13.8,11.2-25,25-25h40v40C552.5,469.6,534.6,487.5,512.5,487.5z"/>
                <path id="wing-right" class="st3" d="M712.5,489.5h-25c-22.1,0-40-17.9-40-40v-40h40c13.8,0,25,11.2,25,25V489.5z"/>
            </g>
            <g id="head">
                <g>
                    <path class="st5" d="M557.5,397.5L557.5,397.5c-38.7,0-70-31.3-70-70v-70h70c38.7,0,70,31.3,70,70v0
                        C627.5,366.2,596.2,397.5,557.5,397.5z"/>
                    <path class="st5" d="M642.5,397.5L642.5,397.5c-38.7,0-70-31.3-70-70v0c0-38.7,31.3-70,70-70h70v70
                        C712.5,366.2,681.2,397.5,642.5,397.5z"/>
                </g>
                
                    <rect x="576.5" y="344" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -84.1258 531.9023)" class="st3" width="47" height="47"/>
                <g>
                    <circle class="st6" cx="557.5" cy="327.5" r="50"/>
                    <circle class="st6" cx="642.5" cy="327.5" r="50"/>
                </g>
                <g id="eyes">
                    <g>
                        <circle class="st7" cx="557.5" cy="327.5" r="27.5"/>
                        <circle class="st7" cx="642.5" cy="327.5" r="27.5"/>
                    </g>
                    <g>
                        <circle cx="557.5" cy="327.5" r="12.5"/>
                        <circle cx="642.5" cy="327.5" r="12.5"/>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>