<div class="shailash">
    <svg version="1.1" id="OBJECTS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1120 730" style="enable-background:new 0 0 1120 730;" xml:space="preserve">
    <style type="text/css">

        .shailash .st0{fill:#DEC900;}
        .shailash .st1{fill:#009E37;}
        .shailash .st2{fill:#009433;}
        .shailash .st3{fill:#E0DFDA;}
        .shailash .st4{fill:#FFFEF7;}
        .shailash .st5{fill:#C7C6C2;}
        .shailash .st6{fill:#006B25;}
        .shailash .st7{fill:#00802C;}
        .shailash .st8{fill:#00BD42;}
        .shailash .st9{fill:#65D45D;}
        .shailash .st10{fill:#009936;}
        .shailash .st11{fill:#FFFFFF;}
        .shailash .st12{fill:#00C745;}
        .shailash .st13{fill:#006323;}
        .shailash .st14{fill:#FAF9F3;}
        .shailash .st15{fill:none;stroke:#FAF9F3;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .shailash .st16{fill:none;stroke:#FFFFFF;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .shailash .st17{fill:none;stroke:#4B3D54;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .shailash .st18{opacity:0;fill:#009936;}

        .shailash #machoireDown, .shailash #machoireUp{
            transform-origin: top right;
            animation: jacte ease 1.7s infinite;
            transform-box: fill-box;
        }

        @keyframes jacte {
            0%{
                transform: rotate(0deg);
            }
            30%{
                transform: rotate(0deg);
            }
            40%{
                transform: rotate(-20deg);
            }
            50%{
                transform: rotate(0deg);
            }
            60%{
                transform: rotate(-20deg);
            }
            70%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(0deg);
            }

        }

        .shailash #brasGauche{
            transform-origin: top right;
            animation: armShake ease 1s infinite;
            transform-box: fill-box;
        }

        .shailash #brasDroit{
            transform-origin: top right;
            animation: armShake ease 2s 0.2 infinite;
            transform-box: fill-box;
        }

        @keyframes armShake {
            0%{
                transform: rotate(0deg);
            }
            35%{
                transform: rotate(0deg);
            }
            40%{
                transform: rotate(-20deg);
            }
            45%{
                transform: rotate(0deg);
            }
            50%{
                transform: rotate(-20deg);
            }
            55%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(0deg);
            }

        }

        .shailash #eyeUnder{
            opacity: 0;
            animation: eyeBlink ease 4s 3s infinite;
            transform-box: fill-box;
        }

        @keyframes eyeBlink {
            0%{
                opacity: 0;
            }
            39%{
                opacity: 0;
            }
            40%{
                opacity: 1;
            }
            60%{
                opacity: 1;
            }
            61%{
                opacity: 0;
            }
            61%{
                opacity: 0;
            }
        }

    </style>
    <path class="st0" d="M703.29,650.2H398.84c-4.31,0-7.83-3.53-7.83-7.83l0,0c0-4.31,3.53-7.83,7.83-7.83h304.45
        c4.31,0,7.83,3.53,7.83,7.83l0,0C711.13,646.67,707.6,650.2,703.29,650.2z"/>
    <g id="T-rex">
        <g id="jambeDroite">
            <path class="st1" d="M554.21,484.32c-27.14,2.78-41.6,43.59-27.7,81.64c7,19.14,17.23,25.47,25.47,35.89
                c5.24,6.63,5.27,9.09,4.38,15.73c-1.6,11.91-3.24,8.93-14.33,7.77c-11.45-1.21-14.66,4.09-16.01,12.18
                c-0.7,4.18,2.18,7.71,6.38,7.71h31.23c3.57,0,6.92-2.58,7.9-6.11c3.91-14.09,14.14-28.11,7.27-37.96
                c-8.72-12.5-4.03-20.19,11.21-37.49C605.23,546.37,596.55,479.98,554.21,484.32z"/>
            <g>
                <path class="st2" d="M564.16,645.21c3.36-0.25,6.42-2.74,7.35-6.08c0.4-1.45,0.87-2.89,1.38-4.34
                    C566.75,635.63,564.73,639.59,564.16,645.21z"/>
                <path class="st2" d="M554.21,484.32c-14.98,1.54-26.09,14.67-30.7,32.52c3.09,6.59,6.46,14.54,10.36,24.1
                    c3.73,9.14,8.93,17.29,15.51,24.31c1.45,8.29,4.75,16.95,10.4,25.65c7.9,12.16,13.03,18.95,19.57,24.02
                    c0.26,0.2,0.52,0.39,0.77,0.58c1.42-5.32,1.56-10.2-1.33-14.35c-8.72-12.5-4.03-20.19,11.21-37.49
                    C605.23,546.37,596.55,479.98,554.21,484.32z"/>
            </g>
            <g>
                <path class="st1" d="M571.52,639.12c0.64-2.29,1.44-4.95,2.31-7.85c-0.36-0.03-0.72-0.06-1.1-0.1c-4.35-0.45-7.44,0.01-9.62,1.2
                    c0,0-0.01-0.01-0.01-0.01c0,0-25.11-2.6-30.13,12.87h30.65C567.19,645.23,570.54,642.65,571.52,639.12z"/>
            </g>
            <path class="st3" d="M525.12,645.23c0,0,13.24-12.32,7.14-18.71c0,0-30.63-3.22-33.18,18.71H525.12z"/>
            <path class="st4" d="M532.39,645.23c0,0,5.97-12.32-0.13-18.71c0,0-21.6-1.28-25.91,18.71H532.39z"/>
        </g>
        <g id="brasDroit">
            <g id="doigt1_1_">
                <path class="st5" d="M478.17,493.68c0,0,0.71-0.93,3.13,1.01c0,0-3.61,2.9-4.51,6.47C476.8,501.15,474.94,496.8,478.17,493.68z"
                    />
                <path class="st6" d="M499.77,488.44c0,0-2.29-3.56-9.01-3.01c-7.54,0.62-15.35,7.61-12.46,9.81c2.9,2.2,6.77-6.18,12.49-2.33
                    C496.52,496.76,499.77,488.44,499.77,488.44z"/>
            </g>
            <g id="doigt2_1_">
                <path class="st5" d="M481.02,499.85c0,0,0.38-1.11,3.29-0.04c0,0-2.5,3.9-2.22,7.56C482.09,507.37,478.95,503.83,481.02,499.85z"
                    />
                <path class="st7" d="M499.84,488.03c0,0-3.3-2.65-9.5,0c-6.95,2.98-12.14,12.09-8.7,13.26c3.45,1.17,4.45-8.01,11.11-6.18
                    C499.4,496.94,499.84,488.03,499.84,488.03z"/>
            </g>
            <path class="st2" d="M512.26,486.78c2.78-4.44,4.97-12.74,10.64-12.71c8.92,0.05,6.39,11.27-0.08,18.19
                c-7.36,7.87-7.36,7.87-10.01,8.38c-2.65,0.51-6.94-3.42-15.06-4.32c-8.12-0.91,1.77-8.5,1.77-8.5s0,0,6.12,1.03
                C509.46,489.48,510.31,489.89,512.26,486.78z"/>
            <g id="doigt3_1_">
                <path class="st5" d="M486.24,505.63c0,0-0.05-1.17,3.06-1.22c0,0-0.93,4.54,0.66,7.86C489.96,512.26,485.75,510.1,486.24,505.63z
                    "/>
                <path class="st2" d="M499.52,487.82c0,0-4.04-1.28-8.86,3.43c-5.41,5.29-6.96,15.66-3.33,15.51c3.64-0.15,1.26-9.08,8.13-9.77
                    C502.33,496.29,499.52,487.82,499.52,487.82z"/>
            </g>
        </g>
        <g id="corps">
            <path class="st8" d="M536.53,364.76c0,0,6.28,72.82,29.03,87.27c22.75,14.46,41.52,12.96,74.02,57.15
                c29.26,39.78,48.67,35.9,79.05,19.15c26.01-14.34,3.29,46.88-67.12,54.89c-59.7,6.79-99.67-14.16-114.98-51.72
                c-20-49.05-25.96-55.5-52.59-55.5L536.53,364.76z"/>
            <g>
                <path class="st1" d="M557.54,452.5c-4.28-3.05-9.53-3.03-11.72,0.05c-2.19,3.08-0.49,8.04,3.79,11.09
                    c4.28,3.05,9.53,3.03,11.72-0.05C563.52,460.52,561.82,455.55,557.54,452.5z"/>
                <path class="st1" d="M592.3,479.44c-1.86,1.86-1.27,5.46,1.32,8.04c2.58,2.58,6.19,3.18,8.04,1.32c1.86-1.86,1.27-5.46-1.32-8.04
                    C597.76,478.17,594.16,477.58,592.3,479.44z"/>
                <path class="st1" d="M628.52,511.81c-1.86,1.86-1.27,5.46,1.32,8.04c2.58,2.58,6.19,3.18,8.04,1.32
                    c1.86-1.86,1.27-5.46-1.32-8.04C633.98,510.55,630.38,509.96,628.52,511.81z"/>
                <path class="st1" d="M687.83,542.48c-3.66,0-6.62,2.13-6.62,4.75c0,2.63,2.96,4.75,6.62,4.75c3.66,0,6.62-2.13,6.62-4.75
                    C694.45,544.61,691.49,542.48,687.83,542.48z"/>
                <path class="st1" d="M600.84,470.65c-12.29-7.74-23.11-10.94-35-18.43c-1.02,6.05,3.71,13.72,11.92,18.45
                    C586.68,475.82,596.55,475.69,600.84,470.65z"/>
                <path class="st1" d="M557.85,444.24c-6.33-9.03-10.94-22.82-14.22-36.39c-5.61,3.79-6.5,13.85-1.84,23.27
                    C545.64,438.9,552.11,443.91,557.85,444.24z"/>
                <path class="st1" d="M635.11,503.29c-10.37-13.29-19.31-21.86-27.49-27.98c-2.8,5.57-0.24,14.41,6.59,21.24
                    C620.91,503.25,629.53,505.83,635.11,503.29z"/>
                <path class="st1" d="M647.01,518.6c-1.09,0.9-1.97,1.99-2.54,3.27c-2.98,6.61,2.83,15.68,12.97,20.24
                    c9.17,4.13,18.73,3.15,22.68-1.96C669.46,538.97,658.98,532.61,647.01,518.6z"/>
                <path class="st1" d="M718.62,528.34c-9.2,5.07-17.39,8.96-25.15,10.82c4.64,2.34,11.53,2.49,18.4-0.1
                    c7.22-2.72,12.49-7.73,14.19-12.81C724.33,525.94,721.85,526.56,718.62,528.34z"/>
            </g>
            <path class="st9" d="M728.89,529.04L728.89,529.04c-19.04,28.61-58.42,50.51-105.88,45.44c-47.46-5.08-69.05-29.98-86.48-66.21
                c-17.13-35.6-43.34-32.09-44.25-31.96c19.83,1.72,26.53,11.73,44.25,55.2c15.32,37.57,55.28,58.52,114.98,51.72
                C705.42,577.09,731.37,539.76,728.89,529.04z"/>
        </g>
        <path class="st1" d="M589.49,495.43c-18.99,1.97-44.12,21.14-47.46,47.1c12.75,21.34,34.99,35.7,65.51,40.33
            c2.21-5.3,6.8-11.22,12.89-19.19C633.66,546.37,631.33,491.08,589.49,495.43z"/>
        <g id="tete">
            <path class="st8" d="M536.53,421.83v30.98c0,12.8-10.38,23.18-23.18,23.18h0h-29.41C483.94,476,495.57,422.64,536.53,421.83z"/>
            <path id="machoireDown" class="st8" d="M483.94,476h-72.26c-10.1,0-18.36-8.26-18.36-18.36v-8.78c0-10.1,8.26-18.36,18.36-18.36
                h72.26c10.1,0,18.36,8.26,18.36,18.36v8.78C502.3,467.74,494.03,476,483.94,476z"/>
            <path id="machoireUp" class="st10" d="M502.08,456.4c15.54,0,28.26-12.72,28.26-28.26v-5.75c-13.08,2.07-22.79,9.73-29.84,18.64
                c-2.96-6.2-9.27-10.52-16.57-10.52h-72.26c-10.1,0-18.36,8.26-18.36,18.36v7.53H502.08z"/>
            <g>
                <path class="st11" d="M375.89,461.75L375.89,461.75c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C381.1,454.51,378.76,461.75,375.89,461.75z"/>
                <path class="st11" d="M386.31,461.75L386.31,461.75c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C391.51,454.51,389.17,461.75,386.31,461.75z"/>
                <path class="st11" d="M396.72,461.75L396.72,461.75c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C401.92,454.51,399.58,461.75,396.72,461.75z"/>
                <path class="st11" d="M407.13,461.75L407.13,461.75c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C412.34,454.51,409.99,461.75,407.13,461.75z"/>
                <path class="st11" d="M417.54,461.75L417.54,461.75c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C422.75,454.51,420.41,461.75,417.54,461.75z"/>
                <path class="st11" d="M427.95,461.75L427.95,461.75c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C433.16,454.51,430.82,461.75,427.95,461.75z"/>
                <path class="st11" d="M438.37,461.75L438.37,461.75c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C443.57,454.51,441.23,461.75,438.37,461.75z"/>
                <path class="st11" d="M448.78,461.75L448.78,461.75c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21h0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C453.98,454.51,451.64,461.75,448.78,461.75z"/>
                <path class="st11" d="M459.19,460.52L459.19,460.52c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C464.4,453.28,462.05,460.52,459.19,460.52z"/>
                <path class="st11" d="M469.6,459.3L469.6,459.3c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C474.81,452.06,472.47,459.3,469.6,459.3z"/>
                <path class="st11" d="M480.02,458.07L480.02,458.07c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C485.22,450.83,482.88,458.07,480.02,458.07z"/>
                <path class="st11" d="M490.43,456.85L490.43,456.85c-2.86,0-5.21-7.24-5.21-10.1v-6.07c0-2.86,2.34-5.21,5.21-5.21l0,0
                    c2.86,0,5.21,2.34,5.21,5.21v6.07C495.63,449.61,493.29,456.85,490.43,456.85z"/>
            </g>
            <path class="st8" d="M508.26,450.1H383.21c-15.54,0-28.26-12.72-28.26-28.26v-57.07c0-23.33,19.08-42.41,42.41-42.41h96.76
                c23.33,0,42.41,19.08,42.41,42.41v57.07C536.53,437.38,523.81,450.1,508.26,450.1z"/>
            <path class="st12" d="M440.92,342.16c12.6,0,23.34-8.36,26.96-19.81h-70.53c-15.03,0-28.29,7.93-35.83,19.81H440.92z"/>
            <path class="st13" d="M368.54,362.34c-1.51,0.39-2.6,1.46-3.09,2.76c-0.01,0.03-0.01,0.05-0.02,0.08
                c-0.15,0.43-0.23,0.87-0.25,1.33l-2.15,13.32c-0.16,0.98,0.31,1.99,1.22,2.39c1.36,0.61,2.84-0.26,3.06-1.63l1.29-8.02
                c0.12-0.76,0.73-1.34,1.5-1.42c0.46-0.05,0.92-0.16,1.36-0.36c2.55-1.13,3.53-4.35,1.81-6.75
                C372.21,362.57,370.29,361.88,368.54,362.34z"/>
            <g>
                <path class="st10" d="M485.22,403.96L485.22,403.96c-18.51,0-33.66-15.15-33.66-33.66v0c0-18.51,15.15-33.66,33.66-33.66l0,0
                    c18.51,0,33.66,15.15,33.66,33.66v0C518.88,388.81,503.73,403.96,485.22,403.96z"/>
                <path class="st14" d="M485.22,396.38L485.22,396.38c-15.7,0-28.54-12.84-28.54-28.54l0,0c0-15.7,12.84-28.54,28.54-28.54l0,0
                    c15.7,0,28.54,12.84,28.54,28.54l0,0C513.76,383.53,500.92,396.38,485.22,396.38z"/>
                <path class="st11" d="M483.94,389.3L483.94,389.3c-13.75,0-25-11.25-25-25v0c0-13.75,11.25-25,25-25h0c13.75,0,25,11.25,25,25v0
                    C508.94,378.05,497.69,389.3,483.94,389.3z"/>
                <path class="st15" d="M471.67,371.07L471.67,371.07c0-7.45,6.1-13.55,13.55-13.55l0,0c7.45,0,13.55,6.1,13.55,13.55l0,0"/>
                <path class="st16" d="M498.76,368.84L498.76,368.84c0,7.45-6.1,13.55-13.55,13.55l0,0c-7.45,0-13.55-6.1-13.55-13.55l0,0"/>
                <path class="st17" d="M471.67,369.06L471.67,369.06c0-7.45,6.1-13.55,13.55-13.55l0,0c7.45,0,13.55,6.1,13.55,13.55l0,0"/>
                <path class="st18" d="M485.22,403.96L485.22,403.96c-18.51,0-33.66-15.15-33.66-33.66v0c0-18.51,15.15-33.66,33.66-33.66l0,0
                    c18.51,0,33.66,15.15,33.66,33.66v0C518.88,388.81,503.73,403.96,485.22,403.96z"/>
            </g>
        </g>
        <g id="jambeGauche">
            <path class="st8" d="M589.49,495.43c-26.82,2.78-54.39,43.99-27.06,86.04c7.9,12.16,13.03,18.95,19.57,24.02
                c7.36,5.71,12,5.45,11.88,12.09c-0.21,11.91-1.38,8.93-12.6,7.77c-11.59-1.21-14.19,4.09-14.59,12.18
                c-0.21,4.18,3.08,7.71,7.27,7.71h31.23c3.57,0,6.62-2.58,7.19-6.11c2.28-14.09,6.8-28.11-1.22-37.96
                c-10.17-12.5-3.95-20.19,9.28-37.49C633.66,546.37,631.33,491.08,589.49,495.43z"/>
            <path class="st3" d="M566.69,645.23c0,0,11.81-12.32,4.97-18.71c0,0-31-3.22-31,18.71H566.69z"/>
            <path class="st4" d="M573.96,645.23c0,0,4.54-12.32-2.3-18.71c0,0-21.75-1.28-23.73,18.71H573.96z"/>
        </g>
        <path class="st1" d="M529.86,479.02c-5.39,1.76-5.94,5.77-7.17,10.86c-0.62,2.58-1.81,3.23-3.86,3.62
            c2.58,4.14,5.2,9.24,8.08,15.48c1.57-0.1,2.78-0.28,3.44-0.65c2.36-1.32,2.47-1.91,6.18-14.21
            C539.25,485.05,538.33,476.25,529.86,479.02z"/>
        <g id="brasGauche">
            <g id="doigt1">
                <path class="st3" d="M493.66,508.62c0,0,0.38-1.11,3.29-0.03c0,0-2.51,3.89-2.23,7.56C494.72,516.14,491.58,512.6,493.66,508.62z
                    "/>
                <path class="st2" d="M512.49,496.83c0,0-3.3-2.66-9.5-0.01c-6.96,2.97-12.16,12.07-8.72,13.25c3.44,1.17,4.47-8,11.12-6.16
                    C512.04,505.74,512.49,496.83,512.49,496.83z"/>
            </g>
            <g id="doigt2">
                <path class="st3" d="M498.31,513.57c0,0,0.01-1.17,3.11-1.08c0,0-1.14,4.49,0.28,7.88C501.71,520.37,497.61,518.01,498.31,513.57
                    z"/>
                <path class="st1" d="M512.43,496.41c0,0-3.97-1.47-9.01,3c-5.65,5.02-7.7,15.31-4.06,15.33c3.64,0.02,1.69-9.01,8.59-9.37
                    C514.83,505.01,512.43,496.41,512.43,496.41z"/>
            </g>
            <path class="st8" d="M523.82,491.3c1.23-5.09,0.69-13.66,6.08-15.42c8.47-2.77,9.62,8.68,5.67,17.28
                c-4.5,9.79-4.5,9.79-6.85,11.12c-2.36,1.32-8.23-0.38-16.22,1.32c-7.99,1.71-0.43-9.29-0.43-9.29s0,0,6.13-0.96
                C522.02,494.75,522.95,494.87,523.82,491.3z"/>
            <g id="doigt3">
                <path class="st3" d="M505.09,517.41c0,0-0.42-1.1,2.51-2.13c0,0,0.56,4.6,3.11,7.25C510.71,522.53,506.04,521.8,505.09,517.41z"
                    />
                <path class="st8" d="M512.06,496.31c0,0-4.24,0.06-7.32,6.05c-3.46,6.72-1.66,17.06,1.74,15.76c3.4-1.29-1.67-9.01,4.62-11.84
                    C517.41,503.46,512.06,496.31,512.06,496.31z"/>
            </g>
        </g>
    </g>
    </svg>
</div>
