.audrey{
  height: 800px;
  width : 800px;
  padding: 10px;
}

/* couleurs feuilles */

.audrey .cls-1 {
    fill: #58ab3f;
}

.audrey .cls-2 {
    fill: #abdb80;
}

.audrey .cls-3 {
    fill: #59ab3f;
}

.audrey .cls-4 {
    fill: #95bf70;
}

.audrey .cls-5 {
    fill: #93b673;
}

.audrey .cls-6 {
    fill: #54a23c;
}

.audrey .cls-7 {
    fill: #93bd6e;
}

.audrey .cls-8 {
    fill: #8fb86b;
}

.audrey .cls-9 {
    fill: #8db56a;
}

.audrey .cls-10 {
    fill: #99c473;
}

/* couleurs koala */

/* .audrey .feuilles{
  animation-name: ag-feuilles-anim;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes ag-feuilles-anim {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-2deg);
    transform: scale(0.95);
  }
} */
/* .audrey .koala-body{
  animation-name: ag-jump;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes ag-jump{
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(-5px);
  }
  60%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(0px);
  }
} */

.audrey .oreille-grise {
    fill: #888;
}

.audrey .oreille-rose {
    fill: #f8c7cb;
}

.audrey .oreille-droite{
  animation-name: ag-oreilledroite;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: left 50%;
}

@keyframes ag-oreilledroite {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotateX(20deg);
  }
}

.audrey .oreille-gauche{
  animation-name: ag-oreillegauche;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: left 50%;
}

@keyframes ag-oreillegauche {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotateX(20deg);
  }
}

.audrey .joues{
  fill: rgb(255, 129, 185);
}

.audrey .corps-plein, .bras-droit, .bras-gauche, .tete {
    fill: #c1c1c1;
}

.audrey .bras-droit{
  animation-name: ag-movebrasdroit;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}

@keyframes ag-movebrasdroit {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(0.75deg);
  }
}

.audrey .bras-gauche{
  animation-name: movebrasgauche;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}

@keyframes ag-movebrasgauche {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(-0.75deg);
  }
}

.audrey .oeil {
    fill: #0c4e89;
    animation-name: ag-blink;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes ag-blink {
  0%, 11%{
      opacity: 1;
    }
  10%{
      opacity: 0;
    }
}

.audrey .sourcils-gauche, .sourcils-droit,
.bouche{
    fill: none;
    stroke: #474747;
    stroke-linecap: round;
    stroke-width: 3px;
}

.audrey .sourcils-gauche, .sourcils-droit {
    stroke-miterlimit: 10;
}

/* .audrey .sourcils-gauche{
  animation-name: ag-surprised;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.audrey .sourcils-droit{
  animation-name: ag-surprised;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes ag-surprised {
  0%, 51%{
      transform: translateY(0);
    }
  50%{
      transform: translateY(-10px);
    }
} */

.audrey .bouche {
    stroke-linejoin: round;
    animation-name: ag-smile;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    transform-origin:center;
}

@keyframes ag-smile {
  0%{
    transform : scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform : scale(1);
  }
}

.audrey .nez {
    fill: #474747;
}

.audrey .ventre {
    fill: #ededed;
}

.audrey .ventre{
  animation-name: ag-ventre-anim;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes ag-ventre-anim {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-2deg);
    transform: scale(0.98);
  }
}
