.emma .cls-1 {
    fill: #8a6f8c;
}

.emma .cls-2,
.emma .cls-3 {
    fill: #fff;
}

.emma .cls-2 {
    stroke: #fff;
}

.emma .cls-2,
.emma .cls-5 {
    stroke-miterlimit: 10;
}

.emma .cls-4 {
    fill: #a58ea8;
}

.emma .cls-5 {
    fill: none;
    stroke: #8a6f8c;
}

.emma .cls-6 {
    fill: #f7f9fb;
}

.emma .cls-7 {
    fill: #f4cd0e;
}
.emma #daisyRight, .emma #daisyLeft{
  animation: EmmaFlowerRotate 4s infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes EmmaFlowerRotate {
  0%{
    transform: rotate(-5deg);
  }
  20%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-5deg);
  }
  70%{
    transform: rotate(2deg);
  }
  100%{
    transform: rotate(-5deg);
  }
}
.emma .lashes{
  animation: EmmaLashes 5s infinite;
  transform-box: fill-box;
}
.emma #eyeRight .lashes{
  transform-origin: left;
}
.emma #eyeLeft .lashes{
  transform-origin: right;
}
@keyframes EmmaLashes {
  10%{
    transform: scale(0.3, 1);
  }
  20%{
    transform: scale(1, 1);
  }
}
.emma #face{
  animation: EmmaFaceMove 5s infinite;
  transform-box: fill-box;
  transform-origin: bottom;
}
@keyframes EmmaFaceMove {
  10%{
    transform: rotate(3deg);
  }
  20%{
    transform: rotate(-2deg);
  }
  35%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-1deg);
  }
}
.emma #fullBody{
  animation: EmmaBodyMove 3s infinite;
  transform-box: fill-box;
  transform-origin: top;
}
@keyframes EmmaBodyMove{
  0%{
    transform: rotate(1deg);
  }
  50%{
    transform: rotate(-1deg);
  }
  100%{
    transform: rotate(1deg);
  }
}
