  <link rel="stylesheet" href="../emma/index.css">
  <div class="emma">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452.23 685.03" width="500px">
    <defs>
    </defs>
    <title>Fichier 1</title>
    <g id="Calque_2" data-name="Calque 2">
        <g id="Calque_1-2" data-name="Calque 1">
          <path id="LegLeft" class="cls-1" d="M222.63,675.52l-12.68-18a3.23,3.23,0,0,1-.51-2.58c8.45-35.26-6.5-140.55-14.9-158.61-9.78-21-33.74-30.62-53.52-21.43s-27.89,33.71-18.11,54.74c7.77,16.72,41.44,98.82,64.86,127.18a3.23,3.23,0,0,1,.15,3.92l-10.41,14.74a6,6,0,0,0,4.93,9.51h35.27A6,6,0,0,0,222.63,675.52Z" />
          <path id="LegRight" class="cls-1" d="M375.46,474.94c-19.78-9.19-43.75.4-53.53,21.43-8.31,17.88-23.05,121.25-15.15,157.54a6,6,0,0,1-.95,4.81l-8.77,12.42a8.81,8.81,0,0,0,7.2,13.89H328.8a8.81,8.81,0,0,0,7.2-13.89l-6.17-8.73a6,6,0,0,1,.21-7.21c23.34-29.76,55.89-109.11,63.52-125.52C403.34,508.65,395.24,484.14,375.46,474.94Z" />
            <g id="fullBody">
            <path id="body" class="cls-1" d="M411.88,462.53c0,74.28-69.69,134.5-155.67,134.5s-155.67-60.22-155.67-134.5S157.25,149,243.23,149,411.88,388.25,411.88,462.53Z" />
            <path id="belly" class="cls-4" d="M381.23,441.53a127.5,127.5,0,0,1-255,0c0-70.42,51.58-199.5,122-199.5S381.23,371.11,381.23,441.53Z" />
            </g>
            <g id="face">
                <ellipse class="cls-1" cx="242.23" cy="112.53" rx="98.96" ry="85.5" />
                <path class="cls-1" d="M205.21,64.9S206.81-6.95,176.47,9,205.21,64.9,205.21,64.9Z" />
                <path class="cls-1" d="M283.14,65.12S281.55-6.73,311.88,9.24,283.14,65.12,283.14,65.12Z" />
                <g id="eyeRight">
                    <path class="lashes" d="M312,104.68c8.62-.16,17-4.59,19.66-6.11a.1.1,0,0,0-.08-.18c-3,1-12.78,4.09-17.61,2.72-2.65-.76-2.16,2.89-2.07,3.49A.1.1,0,0,0,312,104.68Z" />
                    <path class="lashes" d="M314.79,95.68c6.4-1.17,11.21-5.58,13.11-7.57a.15.15,0,0,0-.2-.23c-2.36,1.6-8.05,5.12-11.84,4.66-2.15-.25-1.44,2.4-1.24,3A.16.16,0,0,0,314.79,95.68Z" />
                    <path class="lashes" d="M312.64,87.53c5.06.18,10-4,12.1-6.06.12-.11,0-.3-.18-.21-2.42,1.67-7.79,5-10.57,4-1.6-.57-1.53,1.55-1.49,2.1A.13.13,0,0,0,312.64,87.53Z" />
                    <circle class="cls-2" cx="290.23" cy="91.03" r="25" />
                    <circle cx="290.47" cy="94.2" r="22.17" />
                    <circle class="cls-3" cx="281.23" cy="83.58" r="3.83" />
                </g>
                <g id="eyeLeft">
                    <path class="lashes" d="M184,104.68c-8.62-.16-17-4.59-19.66-6.11a.1.1,0,0,1,.08-.18c3,1,12.78,4.09,17.61,2.72,2.66-.76,2.17,2.89,2.07,3.49A.09.09,0,0,1,184,104.68Z" />
                    <path class="lashes" d="M181.16,95.68c-6.4-1.17-11.21-5.58-13.1-7.57a.15.15,0,0,1,.19-.23c2.36,1.6,8.06,5.12,11.84,4.66,2.16-.25,1.45,2.4,1.25,3A.17.17,0,0,1,181.16,95.68Z" />
                    <path class="lashes" d="M183.32,87.53c-5.07.18-10-4-12.1-6.06-.12-.11,0-.3.18-.21,2.42,1.67,7.79,5,10.57,4,1.59-.57,1.53,1.55,1.49,2.1A.15.15,0,0,1,183.32,87.53Z" />
                    <circle class="cls-2" cx="206.23" cy="94.03" r="25" />
                    <circle cx="205.98" cy="96.86" r="22.17" />
                    <circle class="cls-3" cx="195.4" cy="86.25" r="3.83" />
                </g>
                <g id="museau">
                    <path class="cls-4" d="M336.71,156.35c7.89,39.43-40,47.32-89.39,47.32s-89.38-7.89-89.38-47.32c0-46,40-47.32,89.38-47.32S329,117.68,336.71,156.35Z" />
                    <path class="cls-1" d="M206.36,138,212,153a2.8,2.8,0,0,0,4.79.77l10.11-12.39a2.8,2.8,0,0,0-1.72-4.53l-15.79-2.56A2.8,2.8,0,0,0,206.36,138Z" />
                    <path class="cls-1" d="M287.36,138.6l-5.68,15a2.79,2.79,0,0,1-4.78.77l-10.11-12.39a2.8,2.8,0,0,1,1.72-4.53l15.78-2.56A2.81,2.81,0,0,1,287.36,138.6Z" />
                    <path class="cls-3" d="M216.3,184.6a8.23,8.23,0,0,0,8.21-8.21v-3.54c-5.69,1.36-11.2,3-16.37,4.44A8.24,8.24,0,0,0,216.3,184.6Z" />
                    <path class="cls-3" d="M268.94,177.81a8.21,8.21,0,0,0,16.4.65c-5.26-1.12-10.77-2.77-16.4-4.33Z" />
                    <line class="cls-5" x1="247.23" y1="170.03" x2="247.23" y2="130.03" />
                    <path class="cls-5" d="M308.73,169.53c-4,22-41.2.5-63.5.5-25.82,0-59.5,20.5-64.5-.5" />
                </g>
                <g id="daisyRight">
                    <path class="cls-6" d="M274,24.78s-5.15-14.63,3.27-22.58S280.85,21.4,274,24.78Z" />
                    <path class="cls-6" d="M275.48,25.61s3.94-15,15.38-16.85S283,26.63,275.48,25.61Z" />
                    <path class="cls-6" d="M276.2,27.1s11.68-10.19,22.19-5.31S281.86,32.18,276.2,27.1Z" />
                    <path class="cls-6" d="M276,28.74s15.4-1.88,21.35,8.06S277.79,36.12,276,28.74Z" />
                    <path class="cls-6" d="M274.92,29.64S289.08,35.26,289.65,42,273.1,33.58,274.92,29.64Z" />
                    <path class="cls-6" d="M273.39,29.69s8.89,7.85,3.23,11.66S268,31.18,273.39,29.69Z" />
                    <path class="cls-6" d="M271.82,29.19s.48,7.68-9.71,8.18S264.48,28.35,271.82,29.19Z" />
                    <path class="cls-6" d="M270.75,28.29a24.71,24.71,0,0,1-19.58,3C240,28.3,264.09,25.21,270.75,28.29Z" />
                    <path class="cls-6" d="M270.7,26.74s-14.9,4.33-22.37-4.52S267.7,19.76,270.7,26.74Z" />
                    <path class="cls-6" d="M273.14,24.72s-9.53-12.24-4.07-22.45S278.52,19.35,273.14,24.72Z" />
                    <path class="cls-6" d="M271.61,25.36s-14.76-4.78-16-16.3S273.05,17.89,271.61,25.36Z" />
                    <path class="cls-7" d="M267,28.46s-.43-.06-.36-.34c-1-.5-.74-.69-.74-.69a.81.81,0,0,1-.64-.85c-.25-.31-.54-.57-.39-.76s-.3-.52-.3-.79.52-.51.59-.55c-.17-.3-.07-.89.39-.93.2-.46.95-.44.95-.44s-.27-.77.41-.81c.41-.43.9-.91,1.4-.83a1.21,1.21,0,0,1,1-.13,1.51,1.51,0,0,1,1.31-.17c.25-.31,1.24-.17,1.34-.1a1.18,1.18,0,0,1,1.17,0c.32-.08,1.25.11,1.26.27a3.58,3.58,0,0,1,1.72.54,3.16,3.16,0,0,1,1.28.64c.81.23.8.5.84.61s.8.17.87.57a1.19,1.19,0,0,1,.78.72s.69.36.51.71c.36.27.53.78.34.82.44.26.57.81.35.84.07.31.12.71-.12.79.18.41.16,1-.14,1-.13.36-.27.59-.52.61,0,.44-.37.65-.62.54.19.32,0,.49-.27.47-.21.45-.15.4-.69.38-.26.37-1.18.13-1.16.19-.06.45-.83.36-.83.36-.11.37-1,.12-1,.12,0,.26-1,0-1,0-.1.27-1.11,0-1.11,0-.35.21-1.13-.15-1.13-.15a3.25,3.25,0,0,1-1.18-.3,2.53,2.53,0,0,1-1.66-.57c-1.11-.25-1.29-.72-1.29-.72a1.53,1.53,0,0,1-1-.69A.33.33,0,0,1,267,28.46Z" />
                </g>
                <g id="daisyLeft">
                    <path class="cls-6" d="M171.86,44.85s-12.81-2.49-16.27-10.79S171.41,39.33,171.86,44.85Z" />
                    <path class="cls-6" d="M173,44.29S162.7,36,164.86,28.23,176.09,40,173,44.29Z" />
                    <path class="cls-6" d="M174.32,44.42s-4.15-11.18,2.89-15.78S180,42.89,174.32,44.42Z" />
                    <path class="cls-6" d="M175.5,45.21S178.89,35,188.37,35.14,181.72,46.94,175.5,45.21Z" />
                    <path class="cls-6" d="M175.86,46.2s8.75-6.58,14.1-4.3S178.31,48.85,175.86,46.2Z" />
                    <path class="cls-6" d="M175.42,47.16s8.8-2.45,10,2.54S174.86,51.1,175.42,47.16Z" />
                    <path class="cls-6" d="M174.55,47.94a6.71,6.71,0,0,1,3.22,9.18C175,63.61,171.6,52.15,174.55,47.94Z" />
                    <path class="cls-6" d="M173.52,48.25a14.57,14.57,0,0,1-3.83,13.28C163.89,67.28,169.07,51.17,173.52,48.25Z" />
                    <path class="cls-6" d="M172.32,47.68S171,58.57,161.84,59.75,166,46.82,172.32,47.68Z" />
                    <path class="cls-6" d="M171.54,45.39s-12.37,1.14-18.48-6.21S169.11,40,171.54,45.39Z" />
                    <path class="cls-6" d="M171.54,46.58s-8.29,7.27-17.49,3.55S166.28,42.79,171.54,46.58Z" />
                    <path class="cls-7" d="M172.48,50.62s-.18.24-.37.09c-.69.41-.76.19-.76.19a.68.68,0,0,1-.85.06c-.32,0-.6.12-.71-.05s-.49,0-.7-.13-.22-.51-.23-.57c-.29,0-.7-.3-.59-.6a.7.7,0,0,1,0-.76s-.67-.13-.49-.57c-.2-.42-.42-.91-.2-1.19a.68.68,0,0,1,.22-.67.89.89,0,0,1,.28-.88c-.16-.27.26-.83.34-.87a.7.7,0,0,1,.38-.72c0-.23.48-.72.6-.67.21-.35.76-.85.95-.85.21-.23.81-.59.9-.54.42-.42.63-.31.72-.29s.38-.42.71-.32a1,1,0,0,1,.8-.2s.49-.29.7,0c.32-.11.77,0,.74.12.34-.18.8,0,.76.1.25.08.57.21.56.39.37,0,.82.28.71.46.23.22.36.4.3.56.33.18.38.48.22.59.31,0,.38.19.27.35.28.31.26.25.08.58.2.3-.27.77-.22.79.33.2,0,.65,0,.65.24.21-.22.66-.22.66.19.11-.31.6-.31.6.18.17-.35.69-.35.69.05.3-.48.63-.48.63a1.87,1.87,0,0,1-.6.62,1.56,1.56,0,0,1-1,.81c-.54.59-1,.51-1,.51-.2.36-.85.37-.85.37C172.76,50.76,172.48,50.62,172.48,50.62Z" />
                </g>
            </g>
            <g id="armRight">
                <path class="cls-1" d="M310.33,261.72c-10.43-1.87-16.79-15.14-14.2-29.65s13.16-24.76,23.59-22.9,99.81,30.75,97.22,45.26S320.76,263.58,310.33,261.72Z" />
                <path class="cls-1" d="M452.15,182.39c-1.23-6.64-18.46-9.37-20.3-9s-2.33,6-1.1,12.65v.05a6.27,6.27,0,0,1-2.45,6.21c-13.56,10-37.48,41.18-40.19,45.85-3.39,5.85.31,14.33,8.27,18.94s17.15,3.61,20.54-2.24c2.59-4.47,17-37.51,20.17-54.93a6.09,6.09,0,0,1,3-4.23C445.14,192.87,453.06,187.25,452.15,182.39Z" />
            </g>
            <g id="armLeft" data-name="armLeft">
                <path class="cls-1" d="M172.07,214.4c10.46,1.76,16.94,15,14.5,29.5s-12.9,24.9-23.35,23.14S63.1,237.31,65.55,222.77,161.62,212.64,172.07,214.4Z" />
                <path class="cls-1" d="M85,248.45c-4.94,2.17-42.67,13.17-59.52,13.21a6.26,6.26,0,0,0-5.65,3.56l0,0c-2.93,6.09-6.68,10.37-8.36,9.55s-14-13.2-11-19.29c2.15-4.45,11.85-4.3,17.56-3.58a6.06,6.06,0,0,0,4.93-1.62C35.77,238.12,67,220,71.68,218c6.19-2.71,29.31-4.37,33,4.05S91.24,245.74,85,248.45Z" />
            </g>
        </g>
    </g>
</svg>
</div>
