<link rel="stylesheet" type="text/css" href="../clement/style.css">
<div class="clement">
    <svg version="1.1" id="baby-yoda" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
        <g id="corps">
            <path id="col-back" class="st0" d="M183.5,145.6c-0.9-1,33.5-5.7,63-7.1c28.5-1.4,62.5-0.2,61.7,0.8
		C293,159.6,195.4,159.1,183.5,145.6z" />
            <g id="bras">
                <path class="st1" d="M139.5,193.5c-9,11-2.9,38.1,6,36c13-3,28.7-21.5,23-33C164.6,188.6,147.1,184.3,139.5,193.5z" />
                <path class="st1" d="M352.5,224.5c13.8,3.8,33-19,27-28c-6.1-9.2-29.6-12.6-37-1C336.8,204.5,341.5,221.5,352.5,224.5z" />
                <path class="st2" d="M307.5,162.5c31.4,6.2,63,20,72,34c-12,7-24,19-27,28c-18-5-21.5-6.6-32-13c-41.5-25.3-114.1-23-152,6
			c-8,6.1-14,11-23,12c2-12,3-24-6-36c9-11,18-17,42-23C246.7,155.4,295.2,160.1,307.5,162.5z" />
            </g>
            <path id="tronc" class="st3" d="M187.5,167.5c-19,9-27,120-16,127c48,37,119,22,155,2c10-2-10-111-19-135
		C304.2,152.7,212.2,155.8,187.5,167.5z" />
        </g>
        <g id="tete">
            <path id="oreille-g" class="st4" d="M129.55,81.5c37.91,6,68.43,6,78.93,4c6.94-1.3,9.68-5.3,11.6-4c3.11,2.2,0.18,13.5-6.3,21
		c-10.23,11.8-18.91,12.7-20.01,13C153.57,125.5,126.71,85.1,129.55,81.5" />
            <path id="oreille-d" class="st4" d="M369.45,81.5c-37.55,6-67.7,6-78.11,4c-6.94-1.3-9.59-5.3-11.42-4c-3.11,2.2-0.18,13.5,6.21,21
		c10.14,11.8,18.73,12.9,19.82,13C347.25,119.5,372.2,85.1,369.45,81.5" />
            <g id="visage">
                <ellipse class="st5" cx="243" cy="113" rx="56.5" ry="46.5" />
                <path class="st6" d="M243,67c30.9,0,56,20.6,56,46s-25.1,46-56,46s-56-20.6-56-46S212.1,67,243,67 M243,66c-31.5,0-57,21-57,47
			s25.5,47,57,47s57-21,57-47S274.5,66,243,66L243,66z" />
                <path id="bouche" class="st7" d="M226.2,138.7c1.9,1.1,6.9,3.7,13.9,3.8c9,0.2,15.1-3.9,16.7-5" />
                <path id="nez" class="st8" d="M232.5,125.5c-1-2,6-12,8-12s9,9,8,12C247.4,128.7,233.5,128.5,232.5,125.5z" />
                <path id="oeil-g" d="M207.5,102.5c-0.9-4.9,4.6-9,10-9c6.9,0,12.4,3,16.2,6c2,1.6-6.6,6.2-12.4,8
			C215.2,109.5,208.2,106.5,207.5,102.5z" />
                <path id="oeil-d" d="M274.9,102.5c1-4.9-4.6-9-10.2-9c-7,0-12.5,3-16.4,6c-2,1.6,6.7,6.2,12.5,8
			C267.1,109.5,274.1,106.5,274.9,102.5z" />
            </g>
        </g>
        <path id="col-front" class="st9" d="M184.4,145.6c29.1,8.4,50.6,9.4,66.4,8.1c15.7-1.3,33.2-4.5,56.2-14.4c5.3-2.8,7.7,21.4,5,22.3
	c-29.2,13.7-52.7,14.6-60.5,15.2c-16.8,1.4-60.5-3.8-69.8-8.2C178.2,167.4,181,143.5,184.4,145.6z" />
        <g id="sabre">
            <g id="lame">
                <g>
                    <g>
                        <path class="st10" d="M119.5,198.4L119.5,198.4c-3,0.4-5.7-1.7-6-4.7L90.8,14.5c-0.4-3,1.7-5.7,4.7-6l0,0c3-0.4,5.7,1.7,6,4.7
					l22.6,179.2C124.5,195.3,122.4,198,119.5,198.4z" />
                    </g>
                </g>
            </g>
            <path id="pommeau" class="st11" d="M127.9,246.6l-4.6,0.6c-2.2,0.3-4.2-1.3-4.5-3.5l-5.9-46.9c-0.3-2.2,1.3-4.2,3.5-4.5l4.6-0.6
		c2.2-0.3,4.2,1.3,4.5,3.5l5.9,46.9C131.7,244.3,130.1,246.3,127.9,246.6z" />
        </g>
    </svg>
</div>