*. *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clement {
    display: block;
    width: 800px;
    height: 600px;    
}

.clement #oreille-g {
    animation: cc-oreille-g 3s linear infinite;
    transform-origin: center right;
    transform-box: fill-box;
}

.clement #oreille-d {
    animation: cc-oreille-d 3s linear infinite;
    transform-origin: center left;
    transform-box: fill-box;
}

@keyframes cc-oreille-g {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    40% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
    54%, 58%, 62%, 66%, 70% {
        transform: rotateZ(7deg);
    }
    56%, 60%, 64%, 68%, 72% {
        transform: rotateZ(10deg);
    }
}   

@keyframes cc-oreille-d {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    54%, 58%, 62%, 66%, 70% {
        transform: rotateZ(-7deg);
    }
    56%, 60%, 64%, 68%, 72% {
        transform: rotateZ(-10deg);
    }
}

.clement #tete {
    animation:  cc-tete 6s linear infinite;
    transform-origin: bottom center;
    transform-box: fill-box;
}

@keyframes cc-tete {
    0%, 95% {
        transform: rotateZ(0deg);
    }
    8%{
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(10deg);
    }
    58% {
        transform: rotateZ(10deg) translateY(0px);
    }
    64% {
        transform: rotateZ(10deg) translateY(5px);
    }
    70% {
        transform: rotateZ(10deg) translateY(0px);
    }
    85% {
        transform: rotateZ(10deg);
    }
}

.clement #oeil-g, #oeil-d {
    animation: cc-oeil 6s linear infinite;
    transform-origin: bottom center;
    transform-box: fill-box;
}

@keyframes cc-oeil {
    0%, 58%, 70% {
        transform: scaleY(1);
    }
    64% {
        transform: scaleY(0.1);
    }
}

.clement #sabre {
    animation: cc-sabre 12s linear infinite;
    transform-origin: bottom right;
    transform-box: fill-box;
}

@keyframes cc-sabre {
    0%, 5%, 73% {
        transform: translateX(-200px) translateY(50px);
    }
    9%, 67% {
        transform: translateX(0) translateY(0);
    }
    82% {
        transform: translateX(-200px) translateY(50px);
    }
    83% {
        transform: translateX(-200px) translateY(50px) rotate(2000deg);
    }
    87%, 100% {
        transform: translateX(450px) translateY(-50px);
    }
}

.clement #lame {
    animation: cc-lame 12s linear infinite;
    transform-origin: bottom right;
    transform-box: fill-box;
}

@keyframes cc-lame {
    0%, 5%, 29% {
        transform: scale(0,0);
    }
    31%, 99% {
        transform: scale(1,1);
    }
}


.clement #baby-yoda {
animation: cc-bbyoda 12s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes cc-bbyoda {
    0%, 4% {
        transform: scale(0.6,0.6) rotateZ(-2deg);
    }
    9%, 13% {
        transform: scale(0.68,0.68) rotateZ(2deg);
    }
    18%, 22% {
        transform: scale(0.76,0.76) rotateZ(-2deg);
    }
    27%, 31% {
        transform: scale(0.84,0.84) rotateZ(2deg);
    }
    36%, 40% {
        transform: scale(0.92,0.92) rotateZ(-2deg);
    }
    45%, 49% {
        transform: scale(1,1) rotateZ(0deg);
    }
    50%, 100% {
        transform: scale(1,1) rotateZ(0deg);
    }
}


.clement .st0 {
    fill: #917766;
}

.clement .st1 {
    fill: #493828;
}

.clement .st2 {
    fill: #5F4B32;
}

.clement .st3 {
    fill: #6D553E;
}

.clement .st4 {
    fill: #86B574;
}

.clement .st5 {
    fill: #90C97D;
}

.clement .st6 {
    display: none;
}

.clement .st7 {
    fill: none;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.clement .st8 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.clement .st9 {
    fill: #A0846E;
}

.clement .st10 {
    fill: #5ECFF7;
}

.clement .st11 {
    fill: #666666;
}