/******** ANIMATION PINGOUINS **********/
@keyframes eggshell {
	0% {
		transform: translateY(0);
	}
	17% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(0);
	}
}
.anais #Coquille {
	animation: eggshell 4s infinite;
}

@keyframes pinguin {
	0% {
		transform: translateY(0);
	}
	17% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0);
	}
}
.anais #Private {
	animation: pinguin 4s infinite;
}
@keyframes wingdroite {
	0% {
		transform: rotate(0);
	}
	15% {
		transform: rotate(20deg);
	}
	17% {
		transform: rotate(35deg);
	}
	19% {
		transform: rotate(20deg);
	}
	21% {
		transform: rotate(35deg);
	}
	23% {
		transform: rotate(20deg);
	}
	25% {
		transform: rotate(35deg);
	}
	27% {
		transform: rotate(20deg);
	}
	29% {
		transform: rotate(35deg);
	}
	31% {
		transform: rotate(20deg);
	}
	33% {
		transform: rotate(35deg);
	}
	35% {
		transform: rotate(20deg);
	}
	37% {
		transform: rotate(35deg);
	}
	39% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0);
	}
}
@keyframes winggauche {
	0% {
		transform: rotate(0);
	}
	15% {
		transform: rotate(-20deg);
	}
	17% {
		transform: rotate(-35deg);
	}
	19% {
		transform: rotate(-20deg);
	}
	21% {
		transform: rotate(-35deg);
	}
	23% {
		transform: rotate(-20deg);
	}
	25% {
		transform: rotate(-35deg);
	}
	27% {
		transform: rotate(-20deg);
	}
	29% {
		transform: rotate(-35deg);
	}
	31% {
		transform: rotate(-20deg);
	}
	33% {
		transform: rotate(-35deg);
	}
	35% {
		transform: rotate(-20deg);
	}
	37% {
		transform: rotate(-35deg);
	}
	39% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0);
	}
}
.anais #Aile_droite {
	animation: wingdroite 4s infinite;
	transform-box: fill-box;
	transform-origin: left;
}
.anais #Aile_gauche {
	animation: winggauche 4s infinite;
	transform-box: fill-box;
	transform-origin: right;
}
/* CLASSES SVG */
.anais .st0 {
	fill: #135fd8;
}
.anais .st1 {
	fill: #f7f7f7;
}
.anais .st2 {
	fill: none;
	stroke: #f7f7f7;
	stroke-miterlimit: 10;
}
.anais .st3 {
	fill: #f49321;
}
.anais .st4 {
	fill: #1d1d1b;
}
.anais .st5 {
	fill: #f7f5eb;
}
.anais .st6 {
	fill: #ffffff;
}
.anais .st7 {
	fill: #489ac3;
}
.anais .st8 {
	fill: #fff6e3;
}
.anais .st9 {
	fill: #f7a422;
}
.anais .st10 {
	fill: #db2900;
}
.anais .st11 {
	fill: #ffa617;
}
.anais .st12 {
	opacity: 0.2;
	fill: #f7a423;
}
.anais .st13 {
	fill: #ffaa00;
}
.anais .st14 {
	fill: #ffce00;
}
