<link rel="stylesheet" href="../anais/index.css">
<div class="anais">
  <svg version="1.1" id="Enclos_des_pingouins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  	 x="0px" y="0px" viewBox="0 0 800 600" style="enable-background:new 0 0 800 600;" xml:space="preserve">
  <g id="Mer">
  	<path class="st0" d="M244.9,293.4c-29-0.5-56.2,10-82.1,20.2c-27,10.7-55.1,22.1-72.6,41.5C75.7,371.2,69.4,392,51,405.4
  		c-16,11.7-41,18.2-46.3,34.9c-5.2,16.3,13,31.8,32.4,38.8c34.5,12.3,76.7,9.3,107.6,26.5c16.4,9.1,27.7,23,43.8,32.4
  		c21.5,12.6,49.6,16.1,76.4,15.9c73-0.5,146.1-24.9,217.4-12.2c30.7,5.5,60.1,17.8,91.5,17.1c49.9-1.1,90.6-34.3,140.1-39.6
  		c15.4-1.6,31.2-0.5,46.4-3.3c15.1-2.8,30.3-11,32.7-23.1c2.7-14.1-12.4-26.3-15.9-40.3c-5.7-22.5,19-43.9,16.1-66.8
  		c-2.6-20.8-27.1-35.5-51.5-43.5c-24.4-8-51.4-12.4-72.1-25.4c-17.2-10.7-29-26.7-48.3-34.8c-22.6-9.5-49.9-6-75.1-2.3L362,307
  		c-6.9,1-13.9,0.8-20.7-0.5C320.8,302.5,273.9,293.9,244.9,293.4z"/>
  </g>
  <g id="Banquise">
  	<polygon class="st1" points="329.8,342.9 214.1,321.3 164.2,342.9 174.4,366.5 155.1,384.6 145.9,406.4 194.8,425.2 205.5,445.4
  		198.8,475 277.1,486.6 302,478.6 335.6,486.6 383.2,480.1 401.7,457 486.7,444 517.9,458.4 556.9,465.6 573.1,450.5 628.1,428.1
  		599.6,396.3 668.8,359.5 608.7,340 573.1,353.7 557.9,333.5 514.3,331 496.2,309 397.2,309 324.3,324.1 	"/>
  	<polygon class="st2" points="329.8,362.6 214.1,340.9 164.2,362.6 174.4,386.2 155.1,404.2 145.9,426.1 194.8,444.9 205.5,465.1
  		198.8,494.7 277.1,506.2 302,498.3 335.6,506.2 383.2,499.7 401.7,476.6 486.7,463.6 517.9,478.1 556.9,485.3 573.1,470.1
  		628.1,447.7 599.6,416 668.8,379.2 608.7,359.7 573.1,373.4 557.9,353.2 514.3,350.6 496.2,328.6 397.2,328.6 324.3,343.8 	"/>
  </g>
  <g id="Private">
  	<g id="Patte_gauche">
  		<path class="st3" d="M459.9,389.4c0,0-13.4,4.3-11,11c1,2.9,6.7,1.2,8.5,2.4c1.8,1.2,1.2,1.8,4.9,3c3.7,1.2,9.1-1.8,11.6-0.6
  			c2.4,1.2,4.9,1.8,7.3,0.6c2.4-1.2,4.9-8.5,4.9-8.5L459.9,389.4z"/>
  	</g>
  	<g id="Patte_droite">
  		<path class="st3" d="M544.3,389.4c0,0,13.4,4.3,11,11c-1,2.9-6.7,1.2-8.5,2.4c-1.8,1.2-1.2,1.8-4.9,3c-3.7,1.2-9.1-1.8-11.6-0.6
  			c-2.4,1.2-4.9,1.8-7.3,0.6c-2.4-1.2-4.9-8.5-4.9-8.5L544.3,389.4z"/>
  	</g>
  	<g id="Corps">
  		<path class="st4" d="M595.9,324.7c0,63.2-41.8,76.4-93.3,76.4s-93.3-13.2-93.3-76.4c0-39.2,11.6-88.3,36-120.1
  			c15-19.5,37.6-28.5,57.2-28.5c21.9,0,48.3,12.3,64.2,35.7C588.4,243.4,595.9,288.4,595.9,324.7z"/>
  		<path class="st5" d="M594,346.1c-8.7,44.9-46.3,55-91.4,55c-45,0-82.6-10.1-91.3-54.9c1.8-1.1,29-12.6,35.7-107.6l-0.5,5.4
  			c0-17.9,14.5-32.5,32.5-32.5c9.3,0,17.7,1.4,23.7,7.7c5.9-6.3,14.3-7.7,23.7-7.7c17.9,0,32.5,14.5,32.5,32.5l0.1-0.9
  			c-3.7,61.2,29,98.7,35,103.9"/>
  	</g>
  	<g id="Oeil_gauche">
  		<ellipse class="st6" cx="476.9" cy="251.1" rx="13.3" ry="14.8"/>
  		<circle class="st7" cx="479.6" cy="253.9" r="8.4"/>
  		<circle class="st4" cx="479.7" cy="253.9" r="6.3"/>
  		<circle class="st6" cx="477.7" cy="251.3" r="1.4"/>
  	</g>
  	<g id="Oeil_droit">
  		<ellipse class="st6" cx="526" cy="251.1" rx="13.3" ry="14.8"/>
  		<circle class="st7" cx="524.2" cy="253.9" r="8.4"/>
  		<circle class="st4" cx="524.3" cy="253.9" r="6.3"/>
  		<circle class="st6" cx="521.8" cy="251.3" r="1.4"/>
  	</g>
  	<g id="Coquille">
  		<path class="st8" d="M445.5,197.3l20.4,9.7l17.5-9.7l18.5,11.3l22-14l9.6,8.3l19.5-12.3l11.3,12.6l5.6-3.9
  		c-6.1-19.1-34.3-33.5-68.1-33.5c-38.3,0-69.3,18.5-69.3,41.3c0,0.5,0,1,0,1.4L445.5,197.3z"/>
  	</g>
  	<g id="Bec">
  		<path class="st9" d="M490.7,274.2c0,0,5.7,11.5,10.3,11.4c4.6-0.1,10-11.3,10-11.3L490.7,274.2z"/>
  		<path class="st10" d="M491.5,273.8c0,0,5.3,9.7,9.4,9.7c4.1,0,9.5-9.7,9.5-9.7H491.5z"/>
  		<g>
  			<path class="st11" d="M510.8,274.6c0.7-0.7,0.4-2-0.6-2.2c-2.7-0.6-4.6-2.4-8.9-2.9c-4.2-0.5-6.5,2.1-9.6,2.9
  				c-1,0.2-1.3,1.4-0.6,2.2c2.6,2.7,7.2,4.2,9.3,4.5C502.3,279.4,507.8,277.6,510.8,274.6z"/>
  			<g>
  				<path class="st12" d="M500.2,279.1c-2.1-0.4-6.7-1.8-9.3-4.5c-0.4-0.4-0.4-1-0.2-1.5c1.8,1.6,7.1,3,10,3.5
  					c2.9,0.4,8.4-1.4,10.4-3.3c0.2,0.5,0.1,1-0.3,1.4C507.8,277.6,502.3,279.4,500.2,279.1z"/>
  			</g>
  		</g>
  	</g>
  	<path id="Aile_gauche" class="st4" d="M423.3,287.5c0,0-21.1-22.5-24.5-46.1c-0.4-2.6-3.3-4.1-5.6-2.8l-0.6,0.3
  		c-13.6,7.4-9.9,25.7-1.1,33.3c1.1,0.9,2.6,3.9,5,5.6c11.7,8,23.9,21.7,23.9,21.7L423.3,287.5z"/>
  	<path id="Aile_droite" class="st4" d="M579.4,287.4c0,0,19.6-23.8,21.5-47.5c0.2-2.7,3-4.3,5.4-3.2l0.6,0.3
  		c14,6.5,11.5,25,3.3,33.1c-1,1-2.4,4.1-4.6,5.9c-11.2,8.8-22.4,23.2-22.4,23.2L579.4,287.4z"/>
  </g>
  <g id="Pingou">
  	<path id="PG" class="st13" d="M261,389h-32.2c0,0-1.5-10.5,25.9-8.5C256.8,380.7,261,389,261,389z"/>
  	<path id="PD" class="st13" d="M259.8,389h31c0,0,1.5-10.5-24.9-8.5C263.8,380.7,259.8,389,259.8,389z"/>
  	<path id="body" class="st4" d="M299.9,311.5c7.1,43.4,2.5,76.3-41.5,76.3s-45-37.4-38.6-81c5.5-36.9,10.6-57.3,38.6-57.3
  		C292.3,249.6,294,274.9,299.9,311.5z"/>
  	<path id="ad" class="st4" d="M311.6,330.2c7.1,14.7,9.7,28.1,5.8,30.1s-9.5-5.5-16.6-20.2c-7.1-14.7-9.4-30.3-5.5-32.2
  		C299.2,305.9,304.4,315.5,311.6,330.2z"/>
  	<path id="ag" class="st4" d="M208.2,328c8-16.4,18.7-27.6,23.9-25.1s2.7,12.7-5.4,29.1c-8,16.4-21,28.8-26.2,26.2
  		S200.2,344.3,208.2,328z"/>
  	<path id="tummy" class="st5" d="M257.6,274.7c1.2,1.1,3,1.1,4.1-0.1c0,0,0.1-0.1,0.1-0.1c5.8-6.7,22.8-20.8,30.6,33.7
  		c8.3,57.3-7.5,72.6-32.6,73.6c-26,0-41.3-10.1-34.1-72.1C231.9,255.4,251.1,268.4,257.6,274.7z"/>
  	<path id="nose" class="st14" d="M260.5,303.4l5.4-4.3c-3.6-4.8-7.8-4.9-11.3,0L260.5,303.4z"/>
  	<path id="od" d="M277.9,287c0,2.9-2.3,5.2-5.2,5.2c-2.9,0-5.2-2.3-5.2-5.2l0,0c0-2.9,2.3-4.4,5.2-4.4S277.9,284.1,277.9,287z"/>
  	<path id="ld" class="st6" d="M276.2,285.6c0,1.1-1.6,0-3.5,0c-1.9,0-3.5,1-3.5,0c0-1,1.6-1.9,3.5-1.9
  		C274.7,283.7,276.2,284.6,276.2,285.6z"/>
  	<path id="og" d="M252.6,287c0,2.9-2.3,5.2-5.2,5.2s-5.2-2.3-5.2-5.2l0,0c0-2.9,2.3-4.4,5.2-4.4S252.6,284.1,252.6,287z"/>
  	<path id="lg" class="st6" d="M250.9,285.6c0,1.1-1.6,0-3.5,0s-3.5,1-3.5,0c0-1,1.6-1.9,3.5-1.9S250.9,284.6,250.9,285.6z"/>
  	<ellipse transform="matrix(0.5583 -0.8296 0.8296 0.5583 -89.5261 327.1786)" class="st4" cx="262.5" cy="247.7" rx="6" ry="1.4"/>

  		<ellipse transform="matrix(0.9814 -0.1918 0.1918 0.9814 -42.9115 54.4576)" class="st4" cx="259.8" cy="248.8" rx="0.6" ry="3.3"/>
  </g>
  </svg>
</div>
