*, *::before, *::after {
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

body svg {
  border: 0 !important;
}

.zoo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: calc((900px * 5) + 100px);
  min-height: calc((700px * 2) + 100px);
  position: relative;
  overflow: hidden;
}

.zoo-wrapper .enclos {
  min-height: 600px;
  min-width: 800px;
  max-width: 1000px;
  max-height: 1000px;
  float: left;
  margin: 100px 0 0 100px;
  background: #fff;
}

.zoo-wrapper .enclos:nth-of-type(6) {
  clear: both;
}
