*, *::before, *::after {
	margin: 0;
}

@mixin transform($trans) {
	-webkit-transform: $trans;
	-moz-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}

body {
	height: 100%;
	width: 100%;

	svg {
		border: 0 !important;
	}
}

.zoo-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	min-width: calc((900px * 5) + 100px);
	min-height:  calc((700px * 2) + 100px);
	// background-color: #bfa277;
	position: relative;overflow: hidden;

	.enclos {
		min-height: 600px;
		min-width: 800px;
		max-width: 1000px;
		max-height: 1000px;
		float: left;
		margin: 100px 0 0 100px;
		background: #fff;
		&:nth-of-type(6) {
			clear: both;
		}
	}
}
