<link rel="stylesheet" href="../fabian/style.css">
<div class="fabian">
      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 600" style="enable-background:new 0 0 800 600;" xml:space="preserve">
        <g id="corps">
            <g id="buste"class="st1">
                <g>
                    <path class="st0" d="M473.95,283.42C461.5,289.93,453,302.97,453,318c0,21.54,17.46,39,39,39c1.99,0,3.95-0.15,5.86-0.44" />
                    <path class="st0" d="M473.95,283.42c0,0,26.8,30.15,23.9,73.14" />
                </g>
                <g>
                    <path class="st0" d="M315.85,274.85c7.68,11.77,21.47,18.98,36.43,17.54c21.44-2.06,37.15-21.12,35.08-42.56
    				c-0.19-1.98-0.53-3.91-1-5.79" />
                    <path class="st0" d="M315.85,274.85c0,0,27.44-29.57,70.52-30.8" />
                </g>
                <path class="st1" d="M357.98,249.35l9.86,7.5c-12.11,15.18-29.85,10.91-29.85,10.91l1.83-10.61
    			C339.82,257.14,354.11,249.49,357.98,249.35z" />
                <path class="st2" d="M424.94,249.5c19.41,6.49,36.35,18.39,49.01,33.92" />
                <line class="st2" x1="473.95" y1="283.42" x2="473.96" y2="283.42" />
                <path class="st2" d="M357.06,249.5c10.46-3.5,21.65-5.42,33.27-5.49" />
                <path class="st2" d="M473.96,283.42C488.98,301.85,498,325.37,498,351c0,1.87-0.05,3.72-0.14,5.56" />
                <path class="st2" d="M424.94,249.5c-10.46-3.5-21.65-5.42-33.27-5.49" />
                <path class="st2" d="M284.06,347.63c0.96-30.84,14.96-58.39,36.67-77.32" />
                <path class="st2" d="M320.73,270.31c10.51-9.16,22.82-16.29,36.33-20.81" />
                <path class="st2" d="M391.67,244.01c-0.23,0-0.45-0.01-0.67-0.01s-0.45,0.01-0.67,0.01" />
                <line class="st2" x1="497.86" y1="356.56" x2="497.86" y2="356.56" />
                <path class="st2" d="M497.86,356.56c-1.67,32.66-17.99,61.45-42.52,79.94" />
                <path class="st2" d="M455.34,436.5C437.43,450,415.15,458,391,458c-2.35,0-4.69-0.08-7-0.23" />
                <path class="st2" d="M384,457.77c-29.8-1.93-56.28-16.05-74.49-37.43" />
                <path class="st2" d="M284.06,347.63c-0.03,1.12-0.06,2.24-0.06,3.37c0,26.45,9.6,50.66,25.51,69.34" />
                <circle class="st0" cx="390.7" cy="351" r="39" />
                <line class="st2" x1="309.51" y1="420.34" x2="309.51" y2="420.34" />
                <path class="st0" d="M309.51,420.34c12.2-6.59,20.49-19.5,20.49-34.34c0-21.54-17.46-39-39-39c-2.37,0-4.69,0.22-6.94,0.63
    			C284.06,347.63,280.66,386.48,309.51,420.34z" />
                <g>
                    <line class="st3" x1="473.96" y1="283.42" x2="473.96" y2="283.42" />
                    <path class="st3" d="M497.86,356.56C497.86,356.56,497.86,356.56,497.86,356.56L497.86,356.56c-0.33-51.91-23.8-73.05-23.9-73.14
    				" />
                    <polyline class="st3" points="473.96,283.42 473.96,283.42 473.95,283.42 473.96,283.42 			" />
                </g>
                <line class="st2" x1="384" y1="457.77" x2="384" y2="457.77" />
                <line class="st2" x1="455.34" y1="436.5" x2="455.34" y2="436.5" />
                <path class="st4" d="M455.34,436.5C448.33,426.13,436.46,418,423,418c-21.54,0-39,18.23-39,39.77
    			C384,457.77,424.57,461.88,455.34,436.5z" />
                <circle class="st2" cx="349.5" cy="392.5" r="4" />
                <circle class="st2" cx="334.5" cy="346.5" r="4" />
                <circle class="st2" cx="351.5" cy="312.5" r="4" />
                <circle class="st2" cx="382.5" cy="408.5" r="4" />
                <circle class="st2" cx="426.5" cy="393.5" r="4" />
                <circle class="st2" cx="446.5" cy="358.5" r="4" />
                <circle class="st2" cx="434.5" cy="316.5" r="4" />
                <circle class="st2" cx="399.5" cy="295.5" r="4" />
                <line class="st2" x1="390.89" y1="244.01" x2="391.67" y2="244.01" />
                <g>
                    <path class="st1" d="M433.76,442.67l0.79-2.7c0,0-17.14-6.27-30.9,7.42l2.95,2.83" />
                    <path class="st1" d="M433.76,442.67l-2.24,7.63c-1.63,1.62-18.94,5.66-18.94,5.66l-5.98-5.74" />
                </g>
                <g>
                    <path class="st1" d="M483.19,310.03l7.68,2.35c0,0,4.73,14,5.44,19l-4.6,4.69" />
                    <path class="st1" d="M483.19,310.03l-2.62-0.8c0,0-6.47,17.06,7.06,30.99l4.07-4.15" />
                </g>
                <path class="st1" d="M293.43,394.53l10.48,2.48c0,0,5.36-17.44-9.04-30.47l-8.09,9.37C286.77,375.92,291.73,392.4,293.43,394.53z" />
                <path class="st1" d="M410.16,327.11l-11.35,14.41c-1.94-1.62-4.36-2.69-7.01-2.95l1.71-17.07c0,0-18-3-29,13l15.12,9.89
    			c-0.91,1.39-1.56,2.97-1.88,4.66l-16.6-3.9c0,0-5.33,17.45,9.09,30.45l11.96-13.91c1.87,1.7,4.24,2.88,6.88,3.25l-2.44,16.98
    			c0,0,17.85,3.77,29.53-11.74l-14.68-10.53c1.18-1.65,1.99-3.59,2.3-5.7l16.77,3.19C420.55,357.14,425.13,339.48,410.16,327.11z" />
                <path class="st2" d="M410.26,359.35c0-1.3-1.05-2.35-2.35-2.35c-1.3,0-2.35,1.05-2.35,2.35s1.05,2.35,2.35,2.35
    			C409.21,361.7,410.26,360.65,410.26,359.35z" />
                <circle class="st2" cx="383.43" cy="367.63" r="2.35" />
                <circle class="st2" cx="396.72" cy="335.72" r="2.35" />
                <path class="st2" d="M370.71,344.85c0,1.3,1.05,2.35,2.35,2.35c1.3,0,2.35-1.05,2.35-2.35s-1.05-2.35-2.35-2.35
    			C371.76,342.5,370.71,343.55,370.71,344.85z" />
                <path class="st2" d="M473.95,283.42" />
                <line class="st2" x1="327.82" y1="373.13" x2="354.01" y2="364.25" />
                <line class="st2" x1="401.8" y1="388.39" x2="411.35" y2="419.84" />
                <line class="st2" x1="428.23" y1="340.41" x2="455.84" y2="332.62" />
                <line class="st2" x1="365.28" y1="288.81" x2="376.03" y2="314.85" />
            </g>
            <g id="tete">
                <path class="st2" d="M424.94,249.5h17.56L446,236c0-30.38-24.62-55-55-55s-55,24.62-55,55l2.5,13.5h18.56" />
                <polyline class="st5" points="391.67,244.01 443.92,244.01 442.5,249.5 391,249.5 338.5,249.5 337.48,244.01 390.33,244.01 		" />
                <g>
                    <circle class="st6" cx="423.5" cy="229.5" r="5" />
                    <circle class="st2" cx="423.5" cy="229.5" r="7" />
                </g>
            </g>
            <circle id="Lumiere" class="st1" cx="390.5" cy="236.5" r="3" />
            <g id="antennes">
                <line class="st2" x1="382.5" y1="181.5" x2="382.5" y2="147.5" />
                <line class="st2" x1="395" y1="181" x2="395" y2="125" />
            </g>
            <g id="Oeil">
                <circle class="st6" cx="390.5" cy="215.5" r="12" />
            </g>
        </g>

    </svg>
    </div>
