*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------STYLE SVG-------------------*/

.fabian .st0 {
    fill: #F7931E;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.fabian .st1 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.fabian .st2 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.fabian .st3 {
    fill: none;
}

.fabian .st4 {
    fill: #F7931E;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.fabian .st5 {
    fill: #BDCCD4;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.fabian .st6 {
    stroke: #000000;
    stroke-miterlimit: 10;
}

/*----------------ANIMATION SVG-------------------*/

.fabian{
  width: 800px;
  height: 600px;
}

.fabian #buste {
  animation: fl-roule 0.1s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes fl-roule {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

.fabian #corps{
  animation: 8s fl-head infinite;
  animation-delay: 3s;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes fl-head {
  0{
    transform: rotate(0deg);
  }
  48%{
    transform: rotate(0deg);
  }
  70%{
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.fabian #Oeil{
  animation: 3s 1s fl-oeil infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes fl-oeil {
  0%{
    transform: scaleY(1);
  }
  52%{
    transform: scaleY(1);
  }
  56%{
    transform: scaleY(0);
  }
100%{
    transform: scaleY(1);
  }
}

.fabian #antennes {
  animation: 3s fl-antennes infinite;
  transform-origin: center;
}

@keyframes fl-antennes {
  0%{
    transform: scale(0.8,0.8);
  }
  100%{
      transform: scale(1,1);
  }
}
