
  <link rel="stylesheet" href="../yohan/style.css">
  <div class="yohan">

    <svg version="1.1" id="Objects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 554 691" style="enable-background:new 0 0 554 691;" xml:space="preserve">
    <path id="corps_1_" class="st0" d="M365.3,564.2c0,36.3-57.3,65.7-127.9,65.7s-127.9-29.4-127.9-65.7c0-16.7,41.3-194.8,37.6-210.3
    	c-6.3-26.4,57.7-22.2,95.9-22.2c32.9,0,87.9-8,85.6,16.9C324.9,389,365.3,544.8,365.3,564.2z"/>
    <path id="queue" class="st1" d="M501.9,452.8c-11.8-22-56.6,0-56.6,0s-3.9-59.6-35.5-51.7c-31.6,7.9,3.9,72.4,3.9,72.4
    	c-9,23.4-34.6,33.9-49.9,38.2c4.7,29.4,14.6,61.5,35.9,73c1.6,0.8,3,1.6,4.5,2.4c34.5-22.4,34.5-96.5,34.5-96.5
    	C474.2,497.2,513.8,474.9,501.9,452.8z"/>
    <circle id="tete" class="st0" cx="235" cy="242.1" r="180.8"/>
    <path id="fondoeilgauche" class="st2" d="M202.4,203c0.9-12.7-8.6-23.6-21.3-24.5c-12.7-0.9-23.6,8.6-24.5,21.3
    	c-0.7,9.6,4.7,18.3,12.9,22.3c9.2-3.3,18.9-5.8,28.8-7.5C200.7,211.2,202.1,207.3,202.4,203z"/>
    <path id="oeilgauche" class="st3" d="M179.4,187c-8-0.6-14.9,5.5-15.5,13.5c-0.2,3.5,0.8,6.9,2.8,9.5c3.1-5.3,8.7-9.1,16.3-8.6
    	c4.2,0.2,7.2,1.8,9.4,4c0.2-1,0.4-1.9,0.5-3C193.4,194.4,187.4,187.5,179.4,187z"/>
    <path id="fondoeildroit" class="st2" d="M312.6,199.8c-0.9-12.7-11.8-22.2-24.5-21.3c-12.7,0.9-22.2,11.8-21.3,24.5
    	c0.2,4.1,1.6,7.8,3.7,11c10.3,1.6,20.6,4.1,30.2,7.5C308.3,217.3,313.3,209,312.6,199.8z"/>
    <path id="oeildroit" class="st3" d="M303.2,210c2-2.6,3-6,2.8-9.5c-0.6-8-7.5-14-15.5-13.5c-8,0.6-14,7.5-13.5,15.5
    	c0.1,1,0.2,2,0.5,3c2.1-2.2,5.2-3.7,9.4-4C294.4,200.9,300,204.7,303.2,210z"/>
    <path id="bouche" class="st4" d="M235.9,332.4c-15.3,0-39.2,11.4-62,16.6l-9,39.2c19.8,12.9,44.8,20.6,72.1,20.6
    	c23.9,0,46.1-5.9,64.7-16.1l-10.4-45.3C270.4,341.7,249.7,332.4,235.9,332.4z"/>
    <path id="bouchegauche" class="st4" d="M124.9,339.5c1.2,3.4,2.5,6.7,4.2,9.8c0-2.1,0-3.9,0.1-5.7
    	C127.7,342.4,126.3,341,124.9,339.5z"/>
    <path id="bouchedroite" class="st4" d="M336.3,347.7c0,4.4,0,9.7-0.2,15.4c6.5-8.6,11.4-18.1,14.3-28.2
    	C346.5,341,341.7,345.1,336.3,347.7z"/>
    <path id="pattegauche" class="st0" d="M164.9,388.2l-15.4-12.5c-7.3-0.4-12.2,1-18.4,8c-6.7,12.7-10.8,39.2-12.7,54.1
    	c-0.4,3.1-0.7,29.9-0.8,50.6c-2.7,33-11.4,81.7-38.8,96.5c-26.5,14.3-38.7,15.4-22.3,32c15.1,15.3,93,12.7,120.3-3.3
    	C195.7,542.7,164.9,388.2,164.9,388.2z"/>
    <path id="pattedroite" class="st0" d="M404.1,587.2c-1.5-0.7-3-1.6-4.5-2.4c-21.1-11.5-31.2-43.7-35.8-73c-2.5-15.4-3.5-30-3.8-40.5
    	c-0.1-4.4-0.2-8.8-0.2-13c0-1.6,0-2.6,0-2.6l-0.1,0.2c-0.2-11.6-0.6-21-0.9-23.3c-2.7-15.9-8.2-33.1-16.4-46.2
    	c-2.4-1.2-2.3-5-4.7-6.1c-4.1,0.9-7.3,3.1-19.7,8.3l-16.4,4.1c0,0,0,0,0,0c-32.6,106.1-0.4,220.6-0.4,220.6
    	c27.1,16.2,105.4,18.8,120.6,3.5C437.2,601.1,427.3,599.2,404.1,587.2z"/>
    <g id="langue">
    	<path class="st5" d="M220.8,235.9c0,0-53.7,51.7-62.8,76.6c-9.1,24.9,65.9,45,99.7-41.5C271.7,235.5,220.8,235.9,220.8,235.9z"/>
    	<path class="st6" d="M191.3,310.3c0,0,43.3-36.6,44-57.8"/>
    </g>
    <path id="dentdroite" class="st2" d="M164.9,388.2l9-39.2c-16.7,3.8-32.8,4.3-44.7-5.4c0,1.7-0.1,3.6-0.1,5.7
    	c-0.1,10.5,0.3,24.8,1.7,40.4c0.2,2.1,0.4,4.2,0.7,6.3c2.5,22,7.2,46.2,16.4,66.1L164.9,388.2z"/>
    <path id="dentgauche" class="st2" d="M336.3,347.7c-12.8,6.3-29,4-45.2-0.4l10.4,45.3l16,69.4c14.1-30.6,17.8-71.1,18.6-98.9
    	C336.3,357.4,336.4,352.1,336.3,347.7z"/>
    <path id="visage" class="st7" d="M129.2,343.7c11.9,9.7,28,9.2,44.7,5.4c22.9-5.3,46.7-16.6,62-16.6c13.8,0,34.5,9.3,55.2,15
    	c16.2,4.4,32.4,6.6,45.2,0.4c5.4-2.6,10.2-6.7,14.1-12.8c3.8-5.8,6.7-13.3,8.8-23.1c10-49.1-19.8-76.8-58.5-90.2
    	c-9.7-3.4-19.9-5.8-30.2-7.5c-11.7-1.9-23.4-2.7-34.6-2.7c-12.1,0-24.9,1.1-37.6,3.3c-9.9,1.7-19.6,4.2-28.8,7.5
    	c-37.8,13.6-66.8,41.2-56.9,89.7c2.5,12.7,6.8,21.6,12.3,27.7C126.3,341,127.7,342.4,129.2,343.7z"/>
    <path id="nez" class="st1" d="M235.9,268.3c22.5,0,31.2-17.7,31.2-26.3c0-8.6-8.6-16.7-31.2-16.7s-31.2,8.1-31.2,16.7
    	C204.8,250.6,213.4,268.3,235.9,268.3z"/>
    </svg>


  </div>
