.yohan {
  width: 100%;
  height: 600px;
  position: relative;
}

.yohan svg {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.yohan .st0{fill:#515D65;}
.yohan .st1{fill:#3E494F;}
.yohan .st2{fill:#FFFFFF;}
.yohan .st3{fill:#353A42;}
.yohan .st4{fill:#BFA18D;}
.yohan .st5{fill:#BF692E;}
.yohan .st6{fill:none;stroke:#8C4414;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.yohan .st7{fill:#FFD6BC;}

.yohan #queue {
  animation: yohan-move 2s infinite;
  transform: rotateY(5deg);
}

.yohan #oeildroit,
.yohan #oeilgauche {
  animation: yohan-yeux 6s infinite;
  animation-delay: 0s;
}

.yohan #nez {
  animation: yohan-nez 6s infinite;
  animation-delay: 1s;
}

.yohan #bouche,
.yohan #bouchedroite,
.yohan #bouchegauche,
.yohan #dentdroite,
.yohan #dentgauche {
  animation: yohan-manger 6s infinite;
  animation-delay: 2.75s;
}

.yohan #pattedroite {
  animation: yohan-patte-droite 6s infinite;
  animation-delay: 4s;
}

.yohan #pattegauche {
  animation: yohan-patte-gauche 6s infinite;
  animation-delay: 4s;
}

.yohan #langue {
  animation: yohan-langue 6s infinite;
  animation-delay: 2s;
}

@keyframes yohan-move {
  0% {
    transform: rotateY(5deg) rotateZ(0);
  }
  50% {
    transform: rotateY(20deg) rotateZ(1deg);
  }
  100% {
    transform: rotateY(5deg) rotateZ(0);
  }
}

@keyframes yohan-yeux {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(8px);
  }
  55% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes yohan-nez {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  42.5% {
    transform: translateX(2px);
  }
  45% {
    transform: translateX(-2px);
  }
  47.5% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  52.5% {
    transform: translateX(2px);
  }
  55% {
    transform: translateX(-2px);
  }
  57.5% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes yohan-manger {
  0% {
    transform: translateY(0);
  }
  42.5% {
    transform: translateY(0px);
  }
  45% {
    transform: translateY(-10px);
  }
  47.5% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-10px);
  }
  52.5% {
    transform: translateY(-4px);
  }
  55% {
    transform: translateY(-10px);
  }
  57.5% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes yohan-patte-gauche {
  0% {
    transform: translateY(0) rotate(0);
  }
  40% {
    transform: translateY(0) rotate(0);
  }
  45% {
    transform: translateY(-10px) rotate(2deg);
  }
  50% {
    transform: translateY(-4px) rotate(1deg);
  }
  55% {
    transform: translateY(-10px) rotate(2deg);
  }
  60% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes yohan-patte-droite {
  0% {
    transform: translateY(0) rotate(0);
  }
  40% {
    transform: translateY(0) rotate(0);
  }
  45% {
    transform: translateY(-10px) rotate(-1deg);
  }
  50% {
    transform: translateY(-4px) rotate(0deg);
  }
  55% {
    transform: translateY(-10px) rotate(-1deg);
  }
  60% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes yohan-langue {
  0% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(0);
  }
  47.5% {
    transform: translateY(70px) translateX(0);
  }
  50% {
    transform: translateY(70px) translateX(-5px);
  }
  52.5% {
    transform: translateY(70px) translateX(5px);
  }
  55% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
