
  <style media="screen">
    .isaline{ height :600px;
    width: 800px;}
      .isaline g#FOX{
        transform: translate(44%, 60%) scale(2);
      }
    			.isaline .cls-1{
    				fill:#c93305;
    			}
    			.isaline .cls-2{
    				fill:#e54803;
    			}
    			.isaline .cls-3{
    				fill:#eda98e;
    			}
    			.isaline .cls-4{
    				fill:#e84303;
    			}
    			.isaline .cls-5{
    				fill:#fcdfc5;
    			}
    			.isaline .cls-6{
    				fill:#f9f9f9;
    			}
    			.isaline .cls-7{
    				fill:#333;
    			}
    			.isaline .cls-8{
    				fill:#fff;
    			}
    			.isaline .cls-9{
    				fill:none;
    				stroke:#0c0c0c;
    				stroke-miterlimit:10;
    			}
          .isaline #BACKGROUND .cls-1 {
                fill: #b3f5e5;
            }

          .isaline #BACKGROUND .cls-2 {
                fill: #fff;
            }

          .isaline #OBJECTS .cls-3 {
                fill: #97c733;
            }

          .isaline #OBJECTS .cls-4 {
                fill: #84ae0f;
            }

          .isaline #OBJECTS .cls-5 {
                fill: #ff9f00;
            }

            /********************** DECOR **************************/
        .isaline #BACKGROUND .cls-2{
          animation: icloud infinite 40s linear;
        }   @keyframes icloud {
          0%{
            transform: translateX(-100%);
          }
          100%{
            transform: translateX(200%);
          }


        }

        @
            /* OREILLES  */
            .isaline #FOX #oreille_g{
              transform-box: fill-box;
              transform-origin: bottom center;
              animation: ioreille_g infinite 1200ms linear;
            }


            .isaline #FOX #oreille_d{
              transform-box: fill-box;
              transform-origin: bottom center;
              animation: ioreille_d infinite 1200ms linear;
            }
            @keyframes ioreille_g{
              40%, 60%{
                transform: rotate(0);
              }
              50%{
                transform: rotate(20deg);
              }
            }

            @keyframes ioreille_d{
              40%, 60%{
                transform: rotate(0);
              }
              50%{
                transform: rotate(-20deg);
              }
            }
/* PATTES */
            .isaline #FOX #pate_g{
              transform-box: fill-box;
              transform-origin: top center;
              animation: ipate_g infinite 1200ms linear;
            }
            .isaline #FOX #pate_d{
              transform-box: fill-box;
              transform-origin: top center;

              animation: ipate_d infinite 900ms linear;
            }
            @keyframes ipate_d{
              0%, 100%{
                transform: rotate(0);
              }
              50%{
                transform: rotate(60deg);
              }
            }
            @keyframes ipate_g{
              0%, 100%{
                transform: rotate(0);
              }
              50%{
                transform: rotate(-60deg);
              }
            }

            .isaline #FOX{
              animation: irun infinite 10s ease-in-out;
            }
             @keyframes irun{
              0%,100%{
                  transform: translate(-24%, 88%) scale(1.2);
              }
              22%, 28%, 72%, 78%{
                transform: translate(44%, 60%) scale(2);
              }
              23%{
                transform: translate(44%, 50%) scale(2,2.2);
              }
              24%{
                transform: translate(44%, 65%) scale(2,1.8);
              }
              50%{
                    transform: translate(124%, 88%) scale(1.2);
              }
            }
            /* @keyframes istay{
              0%,100%{
                  transform: translate(-24%, 88%) scale(1.2);
              }
              45%, 55%{
                transform: translate(44%, 60%) scale(2);
              }
              49%{
                transform: translate(44%, 50%) scale(2,2.2);
              }
              51%{
                transform: translate(44%, 65%) scale(2,1.8);
              }

            } */

  </style>



    <div class="isaline">

<svg version="1.1" id="image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="800" height="600" viewBox="10 50 800 600"  xml:space="preserve">

    <g id="BACKGROUND">
        <rect class="cls-1" width="826.72" height="806.3" />
        <path class="cls-2" d="M583.08,328.92a18,18,0,0,1,6.16,1.09A27.1,27.1,0,0,1,643,327.87a18.71,18.71,0,0,1,30.54,14.5v1.26A10.71,10.71,0,1,1,676,364.74H583.08a17.91,17.91,0,0,1,0-35.82Z" transform="translate(10.38 6.3)" />
        <path class="cls-2" d="M771.82,216.69a19,19,0,0,0-6.24,1.05c-1.2-13.48-13-24.06-27.35-24.06-13.62,0-24.91,9.51-27.08,22a19.33,19.33,0,0,0-12-4.1c-10.47,0-19,8.14-19,18.19V231a11.31,11.31,0,0,0-2.59-.3,10.42,10.42,0,1,0-.91,20.82c.3,0,.61,0,.91,0h94.16c10,0,18.15-7.79,18.15-17.4S781.84,216.69,771.82,216.69Z" transform="translate(10.38 6.3)" />
        <path class="cls-2" d="M242,92a16.65,16.65,0,0,1,5.68,1,25,25,0,0,1,49.64-2,17.29,17.29,0,0,1,28.21,13.4v1.16a9.86,9.86,0,1,1,2.37,19.5H242A16.55,16.55,0,0,1,240.37,92,14.77,14.77,0,0,1,242,92Z" transform="translate(10.38 6.3)" />
        <path class="cls-2" d="M75.09,179.28a10,10,0,0,1,3.47.61A15.25,15.25,0,0,1,109,181.21v1a9.19,9.19,0,0,1,2.09-.25,8.73,8.73,0,0,1,0,17.46h-36a10.08,10.08,0,0,1,0-20.16Z" transform="translate(10.38 6.3)" />
        <path class="cls-2" d="M752.31,395.94a10,10,0,1,1,20.06,0V396a5.41,5.41,0,1,1,2.92,10h-13a10,10,0,0,1-10-10Z" transform="translate(10.38 6.3)" />
    </g>
    <g id="OBJECTS">
        <path class="cls-3" d="M711,562.93l-90.72-13.18c3.45-1.21,6.14-2.9,5.86-5.17-.73-6-14.07,2.56-14.07,2.56s4.2-16.82-1.11-18-4.2,16.81-4.2,16.81S595.09,529.9,594,534.36s3.21,9.55,3.21,9.55-13.09-6.23-14.87-3.22c-.74,1.25,3.34,3.49,8.36,5.69C541,541.09,485,537,425.38,536q-14.38-.25-29-.25-35.46,0-72.15,1.56c-72.08,3.24-146.85,11.8-220.06,28.4.68-4.82,1-10.35-1.23-9.9-3.88.8-4.66,8.35-4.66,8.35s-6.22-11.31-9.33-8.35c-2.57,2.45,2.71,9.85,4.63,12.36l-.41.1c-4-2.72-17.42-11.55-15.1-4.34a15.86,15.86,0,0,0,4.82,6.85c-28,7-55.69,15.18-82.85,24.78v98.19a318.61,318.61,0,0,0,58.33,22.72l38,10.55c-5.06-3.23-8.69-6.18-7.62-7.51,3-3.68,19,6.8,19,6.8s-4.71-7.49-2.36-13.19S120,730.64,120,730.64s2.07-23.95,8.87-21.52-2.07,24-2.07,24,19.34-9.07,19.12-1c-.08,3.13-4.17,4.91-9.14,5.91,35.45,9.52,70.85,18.5,107.81,26.6,46.1,9.64,90.32,10.52,136.41,14a531.8,531.8,0,0,0,60.81,1.14c-7.41-2.21-13.7-4.66-12.91-6.5,1.82-4.26,20.27,2,20.27,2s-6.63-6.1-5.95-12.18,19,13.44,19,13.44-4.67-23.63,2.57-22.93,4.67,23.64,4.67,23.64,16.15-13.43,18.2-5.56c.46,1.79-.55,3.46-2.37,5,42.71-4.49,85.29-12.84,129-22.54,34.61-7.66,67.82-15.69,100-26.3-9.17-5-20.16-11.6-18.41-13.79,3-3.68,19,6.8,19,6.8s-4.71-7.49-2.36-13.19c2-4.81,11,11,13.78,16.06l1-.35c.65-5.58,3-21.68,8.68-19.67,4.08,1.46,2.51,9.83.6,16.26A459.51,459.51,0,0,0,800,690.7V580.63S766.67,572.36,711,562.93Z" transform="translate(10.38 6.3)" />
        <path class="cls-4" d="M736.07,703.66c-5.64-2-8,14.09-8.68,19.67l-1,.35c-2.77-5.06-11.8-20.87-13.78-16.06-2.35,5.7,2.36,13.19,2.36,13.19s-16.09-10.48-19-6.8c-1.75,2.19,9.24,8.8,18.41,13.79-32.2,10.61-65.41,18.64-100,26.3-43.74,9.7-86.32,18-129,22.54,1.82-1.52,2.83-3.19,2.37-5-2-7.87-18.2,5.56-18.2,5.56s2.57-22.94-4.67-23.64-2.57,22.93-2.57,22.93S444,757,443.31,763.05s5.95,12.18,5.95,12.18-18.45-6.24-20.27-2c-.79,1.84,5.5,4.29,12.91,6.5a531.12,531.12,0,0,1-60.9-1.1c-46.09-3.5-90.31-4.38-136.41-14-37-8.1-72.36-17.08-107.81-26.6,5-1,9.06-2.78,9.14-5.91.22-8.09-19.12,1-19.12,1s8.87-21.53,2.07-24S120,730.64,120,730.64s-12.25-23.26-14.6-17.56,2.36,13.19,2.36,13.19-16.08-10.48-19-6.8c-1.07,1.33,2.56,4.28,7.62,7.51q-18.85-5.21-38-10.55A319.08,319.08,0,0,1,0,693.71V800H800V690.7a459.39,459.39,0,0,1-63.33,29.22C738.58,713.49,740.15,705.12,736.07,703.66Z" transform="translate(10.38 6.3)" />
        <path class="cls-4" d="M323.79,662.5s-5.89-10.58-14.34-11.5,5,13.46,5,13.46-15.77-13.76-19.63-6.52,15.12,13.69,15.12,13.69,20.19,2.17,26.31-2.93,6.86-16,4.63-17.69c-7.53-5.57-9.07,10-9.07,10s-2.16-17.06-6.48-16.32S323.79,662.5,323.79,662.5Z" transform="translate(10.38 6.3)" />
        <path class="cls-2" d="M654.54,645.22s8.68-4.29,4.65-10.34-11.92,4.29-11.92,4.29-5.95-9.68-13.35-6.54,3.58,8.51,3.58,8.51-11.1,6.78-5.46,12.19,14.08-2.28,14.08-2.28,6.13,7.35,13,5.86S654.54,645.22,654.54,645.22Z" transform="translate(10.38 6.3)" />
        <path class="cls-5" d="M649.58,642.69a2.89,2.89,0,0,0-3.9-1c-.16.1-.33.19-.49.27a6.2,6.2,0,0,1-.87.24,2.81,2.81,0,0,0-1.7.79,2.86,2.86,0,0,0,0,4,2.75,2.75,0,0,0,2,.83,9.39,9.39,0,0,0,3.92-1.24A2.88,2.88,0,0,0,649.58,642.69Z" transform="translate(10.38 6.3)" />
        <path class="cls-2" d="M498.89,573.81s8.67-4.45,4.53-10.48-11.94,4.5-11.94,4.5-6.14-9.66-13.54-6.38,3.73,8.51,3.73,8.51-11.07,7-5.31,12.36,14.14-2.51,14.14-2.51,6.28,7.31,13.17,5.7S498.89,573.81,498.89,573.81Z" transform="translate(10.38 6.3)" />
        <path class="cls-2" d="M528.88,566.23s4.45-4.48.68-7.37S523.1,564,523.1,564s-5.72-4.72-9.62-1.21,4,4.5,4,4.5-5.41,6.54-.79,8.69,8.22-4.39,8.22-4.39,5.34,3.24,9.26.86S528.88,566.23,528.88,566.23Z" transform="translate(10.38 6.3)" />
        <path class="cls-5" d="M493.85,571.33a2.89,2.89,0,0,0-3.93-1c-.16.1-.33.19-.5.28a6.5,6.5,0,0,1-.86.25,2.84,2.84,0,0,0-1.64,4.88,2.69,2.69,0,0,0,2,.81,9.49,9.49,0,0,0,3.93-1.31A2.9,2.9,0,0,0,493.85,571.33Z" transform="translate(10.38 6.3)" />
        <path class="cls-5" d="M526.65,565.82a2.26,2.26,0,0,0-3.07-.76,3.72,3.72,0,0,1-.39.21,4,4,0,0,1-.67.2,2.22,2.22,0,0,0-1.3,3.8h0a2.15,2.15,0,0,0,1.59.64,7.46,7.46,0,0,0,3.07-1,2.24,2.24,0,0,0,.78-3.07Z" transform="translate(10.38 6.3)" />
    </g>
<g id="FOX">
  <g id="Calque_4" data-name="Calque 4">
            <path id="tail" class="cls-1" d="M80,29.82c2.22-1.37.74,18.51,2.3,22.79C85,50.08,80,67.48,80,67.48s-.74,2.33,1.28,0-3.77,13-9.39,14.14S65,72.13,65,72.13s-5.89-20.37-1.1-12.56,1.86-6.65,1.86-6.65.9-1.43,2.65,1.1,2.95-1.86,2.95-1.86,1-9.94,2.38-10.39S78.69,29.29,80,29.82Z" />
            <g id="oreille_g">
                <path class="cls-2" d="M21.31,20.05s-3.6-17.87,1.56-20c2.52-1,8.05,6.44,10.6,10.94.94,1.66.21,3.9-1.73,6.06Z" />
                <path class="cls-3" d="M24,13.58S21.3,5.7,23,4.72s5.4,7.45,5.4,7.45S25.35,11.89,24,13.58Z" />
            </g>
            <g id="oreille_d">
                <path class="cls-2" d="M53.07,20.77s5.42-17.14,1.19-20C52.18-.57,46.41,6,43.62,10.06c-1,1.51-.68,3.83.73,6.25Z" />
                <path class="cls-3" d="M51.87,13.58s2.81-6.3,1.23-7.19-5.33,5.81-5.33,5.81S50.66,12.13,51.87,13.58Z" />
            </g>
            <path id="pate_g" class="cls-4" d="M22.36,99c-.66,3.7-2.54,8.65-4.15,8.65s-3.14-7.15-3.14-10.82,1.54-2.47,3.14-2.47S23,95.43,22.36,99Z" />
            <path id="pate_d" class="cls-4" d="M58.73,98.88c1.15,3.54,3.65,8.1,5.22,7.82S66,99.08,65.54,95.46s-1.84-2.18-3.4-1.9S57.61,95.44,58.73,98.88Z" />
            <path id="bras_g" class="cls-2" d="M77.3,55.73c-.73,1.2-4.92-1.07-9.26-4.31S63.13,44,64.33,41.9s1.74-.5,6.08,2.74S78.57,53.67,77.3,55.73Z" />
            <path id="bras_g-2" data-name="bras_g" class="cls-2" d="M.23,55.08c.71,1.15,4.89-1.15,9.22-4.39s5-7.31,3.81-9.34-1.72-.45-6,2.79S-1,53.1.23,55.08Z" />
            <g id="body">
                <path id="body-2" data-name="body" class="cls-2" d="M68.85,50.52C81.93,91.45,67.26,99.47,40,99.47c-32.48,0-41.83-7.3-30.83-48.32C17.08,21.61,14,11.06,38.27,11.06,58.35,11.06,60.54,24.5,68.85,50.52Z" />
                <path class="cls-5" d="M60.33,96.76s13.43-18.55-9.18-44.92a1.48,1.48,0,0,1,.71-2.39c6.12-1.53,10.85-5.71,13.8-9.05-3-9.71-5.55-17-9.5-22C50.63,19.89,43.34,23.9,39,34.68a31.78,31.78,0,0,0-1.08,3.17c-.25-.9-.52-1.77-.81-2.58-4.73-13-13.4-16.23-18.46-17-3,4.6-4.35,11.59-6.65,21.53,2.59,3.47,7.17,8.4,13.31,10.13a1.55,1.55,0,0,1,.64,2.4C5.24,78.58,17.26,96.92,17.29,97c5.14,1.69,12.21,2.4,20.51,2.51,0,0,0-.24.09-.66v.06l.8.61h1.19A73.56,73.56,0,0,0,56.21,98Z" />
            </g>
            <path id="tummy2" class="cls-6" d="M38.35,61.77c-9.71,0-17.61,11.49-17.65,25.72a36.5,36.5,0,0,0,1.56,10.68A91.29,91.29,0,0,0,37.9,99.46s0-.24.09-.66v.06l.81.61H40a81.35,81.35,0,0,0,14.21-1,35.94,35.94,0,0,0,1.66-10.87C55.91,73.36,48.07,61.8,38.35,61.77Z" />
            <path id="nose" class="cls-7" d="M36.21,40h2.92a.59.59,0,0,1,.57.75c-.29,1.11-1,3-2.11,3-.9,0-1.64-1.77-2-2.89A.68.68,0,0,1,36.21,40Z" />
            <g id="eye_d">
                <ellipse class="cls-7" cx="47.78" cy="31.7" rx="1.69" ry="2.09" transform="translate(-9.34 36.75) rotate(-38.62)" />
                <path class="cls-8" d="M48.74,31.05c0,.33-.56,0-1.25,0s-1.25.33-1.25,0,.75-.92,1.44-.92A1,1,0,0,1,48.74,31.05Z" />
            </g>
            <g id="eye_g">
                <ellipse class="cls-7" cx="28.85" cy="31.7" rx="2.1" ry="1.69" transform="translate(-13.95 33.92) rotate(-50.67)" />
                <path class="cls-8" d="M27.88,31.05c0,.33.56,0,1.25,0s1.26.33,1.26,0-.75-.92-1.44-.92A1,1,0,0,0,27.88,31.05Z" />
            </g>
            <g id="mouth">
                <path class="cls-9" d="M37.63,43.64s-.39,3-2.8,1" />
                <path class="cls-9" d="M37.51,43.59s.2,3,2.75,1.24" />
            </g>
        </g>
</g>
</svg>


    </div>
