
<link rel="stylesheet" href="../marie/style.css">


<div class="marie">

	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" height="800" width="800">
	    <defs>
	        <style>
	            .marie .cls-1 {
	                fill: #fff;
	            }
	            
	            .marie .cls-2 {
	                fill: #414042;
	                opacity: 0.2;
	            }
	            
	            .marie .cls-3 {
	                fill: #85c8dd;
	            }
	            
	            .marie .cls-4 {
	                fill: #c3eefc;
	            }
	            
	            .marie .cls-5 {
	                fill: #9ad7ef;
	            }
	            
	            .marie .cls-6 {
	                fill: #fe929f;
	            }
	            
	            .marie .cls-7 {
	                fill: #492211;
	            }
	        </style>
	    </defs>
	    <title>2775477</title>
	    <g id="BACKGROUND">
	        <rect class="cls-1" width="500" height="500" transform="translate(500 0) rotate(90)" />
	    </g>
	    <g id="bilou">
	        <path id="fond" class="cls-2" d="M301.32,232.33c0,7.53-24,13.64-53.55,13.64s-53.55-6.11-53.55-13.64,24-13.64,53.55-13.64S301.32,224.8,301.32,232.33Z" />
	        <polyline id="carre-droit" class="cls-3" points="223.3 240.96 247.59 223.43 233.04 205.54 209.33 217.49" />
	        <polygon id="carre-gauche" class="cls-3" points="260.97 205.54 246.42 223.43 270.7 240.96 284.68 217.49 260.97 205.54" />
	        <g id="corps">
	            <g id="corps-2" data-name="corps">
	                <g id="corps-3" data-name="corps">
	                    <g id="mg-bras">
	                        <path class="cls-3 mg-bras-droit" d="M281.22,154.33c13.19-8.4,19.93-4.69,24.4,2.33s5,14.7-8.23,23.09-27.51,9.51-32,2.49S268,162.72,281.22,154.33Z" />
	                        <path class="cls-3 mg-bras-gauche" d="M215.42,157c-13.39-8.09-20-4.23-24.35,2.89s-4.63,14.81,8.76,22.9,27.72,8.88,32,1.76S228.8,165.14,215.42,157Z" />
	                    </g>
	                    <path id="bidou-ext" class="cls-3" d="M282.81,208.18c0,22.65-15.77,28-35.22,28s-35.22-5.36-35.22-28,15.77-41,35.22-41S282.81,185.54,282.81,208.18Z" />
	                    <path id="bidou" class="cls-4" d="M267.19,211.16c0,13.42-8.78,16.6-19.6,16.6s-19.6-3.18-19.6-16.6,8.78-24.3,19.6-24.3S267.19,197.74,267.19,211.16Z" />
	                    <g id="teteoreille">
	                        <g id="mg-oreille-droite">
	                            <path id="oreille-droite-2" data-name="oreille-droite" class="cls-5" d="M289.32,119.83c8.05,7.07,9.28,18.84,2.74,26.27s-18.35,7.72-26.4.64-9.28-18.84-2.74-26.27S281.27,112.75,289.32,119.83Z" />
	                            <path id="oreille-int-droit" class="cls-6" d="M283.66,127.4c5.72,5,6.59,13.4,1.95,18.68s-13.06,5.49-18.79.46-6.59-13.4-1.95-18.69S277.93,122.36,283.66,127.4Z" />
	                        </g>
	                        <g id="mg-oreille-gauche">
	                            <path id="oreille-gauche-2" data-name="oreille-gauche" class="cls-5" d="M206.29,119.83c-8,7.07-9.28,18.84-2.74,26.27s18.35,7.72,26.4.64,9.28-18.84,2.74-26.27S214.34,112.75,206.29,119.83Z" />
	                            <path id="oreille-int-gauche" class="cls-6" d="M212,127.4c-5.73,5-6.6,13.4-2,18.68s13.06,5.49,18.79.46,6.59-13.4,2-18.69S217.68,122.36,212,127.4Z" />
	                        </g>
	                        <path id="mg-tete" class="cls-5" d="M247.77,182.48c-27.55,0-41.69-13.85-33.73-33.74,9.8-24.5,33.73-23.21,33.73-23.21s23.93-1.29,33.73,23.21C289.46,168.63,275.32,182.48,247.77,182.48Z" />
	                    </g>
	                    <g id="mg-pieds">
	                        <path id="pieds-gauche" class="cls-3" d="M199.77,209.53c-6.68,4.45-10.26,10.5-2.54,20.81S216.63,245.4,223.3,241s5.82-16.42-1.9-26.73S206.44,205.09,199.77,209.53Z" />
	                        <path id="pieds-int-gauche" class="cls-4" d="M203.8,218.79c-4.12,2.74-6.34,6.48-1.57,12.84s12,9.3,16.1,6.56,3.59-10.14-1.18-16.5S207.92,216,203.8,218.79Z" />
	                        <path id="pieds-droit" class="cls-3" d="M294.27,209.53c6.67,4.45,10.25,10.5,2.53,20.81S277.41,245.4,270.73,241s-5.82-16.42,1.9-26.73S287.59,205.09,294.27,209.53Z" />
	                        <path id="pieds-int-droit" class="cls-4" d="M290.24,218.79c4.12,2.74,6.33,6.48,1.56,12.84s-12,9.3-16.09,6.56-3.6-10.14,1.17-16.5S286.12,216,290.24,218.79Z" />
	                    </g>
	                </g>
	            </g>
	        </g>
	        <path id="trompe" class="cls-5" d="M278.44,185.24c-1.83.73-2.2.41-2.91-1.68s-3.84,1.22-3.84,1.22h0a20.72,20.72,0,0,1-7.68,4.74,7.27,7.27,0,0,1-3.07.28c-4.89-.79-1.46-7.53-.42-10.11a38.66,38.66,0,0,0,1.56-5.15l-26.71.42c1.38,6.31,1.57,23.56,20.56,23.56,13.77,0,20.59-7.16,23.3-11.1C279.94,186.36,280.25,184.52,278.44,185.24Z" />
	        <g id="mg-yeux">
	            <path id="y-droite" class="cls-7" d="M264,159.62c0,2.81-2.27-.74-5.07-.74s-5.08,3.55-5.08.74a5.08,5.08,0,0,1,10.15,0Z" />
	            <path id="y-gauche" class="cls-7" d="M241.35,159.62c0,2.81-2.27-.74-5.07-.74s-5.08,3.55-5.08.74a5.08,5.08,0,0,1,10.15,0Z" />
	        </g>
	    </g>
	</svg>



</div>

