.marie .mg-bras-droit {
	animation: coucou infinite linear;
	animation-duration: 0.5s;
	transform-origin: left;
	transform-box: fill-box;
}

@keyframes coucou {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

 .marie #trompe {
    animation: dog-tail-segment infinite alternate;
    animation-duration: 1s;
    transform-box:fill-box;
 }  

@keyframes dog-tail-segment {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
    
.marie #y-gauche{
	animation: clin-doeil infinite linear;
	animation-duration: 4s;
    transform-box: fill-box;
}

@keyframes clin-doeil {
	0%,46%,54% {
		transform: scale(1, 1);
	}
	48%,52% {
		transform: scale(1, 0.5);
	}
	100% {
		transform: scale(1, 1);
	}
}


.marie #bilou {
	transform: translateX(-10%);
}
